flows_MSI.json
[{"id":"8abcb9c4.969e58","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"18e0d651.2db41a","type":"tab","label":"Flow 2","disabled":false,"info":""},{"id":"49f88b4f.625b74","type":"tab","label":"Flow 3","disabled":false,"info":""},{"id":"acf47a97.8e7978","type":"tab","label":"Flow 4","disabled":false,"info":""},{"id":"b4dd18b0.7a5358","type":"tab","label":"Flow 5","disabled":false,"info":""},{"id":"740b003f.0a2b","type":"tab","label":"Flow 6","disabled":false,"info":""},{"id":"15c9eaa7.3c0665","type":"tab","label":"Flow 7","disabled":false,"info":""},{"id":"f4c13dae.1fd7a","type":"tab","label":"Flow 8","disabled":false,"info":""},{"id":"740c75b5.a1e69c","type":"tab","label":"zigbee2mqtt","disabled":true,"info":""},{"id":"c4829f93.87cba","type":"tab","label":"Flow 10","disabled":false,"info":""},{"id":"4bc40f.33b24bf","type":"tab","label":"myhome","disabled":false,"info":""},{"id":"af357553.2f0528","type":"tab","label":"Flow 9","disabled":false,"info":""},{"id":"8ef08a2b.a563a8","type":"tab","label":"Flow 12","disabled":false,"info":""},{"id":"954fa096.15be2","type":"tab","label":"Button Enable flow","disabled":false,"info":""},{"id":"dfb681c3.814b5","type":"tab","label":"Flow 11","disabled":false,"info":""},{"id":"edd42ef7.16d9c","type":"tab","label":"Flow 13","disabled":false,"info":""},{"id":"d790ae81.b58ba","type":"ui_tab","z":"","name":"Home","icon":"home","order":1},{"id":"8b7266fe.98fd18","type":"ui_group","z":"","name":"Default","tab":"d790ae81.b58ba","order":1,"disp":true,"width":"6"},{"id":"6da4d19d.40ede","type":"ui_group","z":"","name":"Default","tab":"a25780ea.1df36","order":1,"disp":true,"width":"6"},{"id":"a25780ea.1df36","type":"ui_tab","z":"","name":"Home","icon":"home","order":1},{"id":"8d3bbffb.1bda5","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"3c076744.c6a638","type":"ui_spacer","name":"spacer","group":"8b7266fe.98fd18","order":1,"width":1,"height":1},{"id":"672ff1be.ce75d","type":"websocket-client","z":"","path":"wss://echo.websocket.org","tls":"","wholemsg":"false"},{"id":"32def38f.02e0cc","type":"samsung-tv","z":"","name":"SamsungTV","address":"192.168.1.15"},{"id":"37c9237b.db7dbc","type":"ui_group","z":"","name":"GPS tracking","tab":"a1d5e355.d80fd","order":2,"disp":true,"width":"20","collapse":false},{"id":"a1d5e355.d80fd","type":"ui_tab","z":"","name":"Map","icon":"dashboard","order":7,"disabled":false,"hidden":false},{"id":"6d7b1f79.2cc08","type":"ui_group","z":"","name":"GPS tracking","tab":"","order":2,"disp":true,"width":"20","collapse":false},{"id":"ff16eac5.f73e88","type":"ui_tab","z":"","name":"COLOR","icon":"dashboard","order":4,"disabled":false,"hidden":false},{"id":"6dbdd2f.236602c","type":"ui_group","z":"","name":"circule","tab":"ff16eac5.f73e88","order":1,"disp":true,"width":"6","collapse":false},{"id":"299502c0.c3cdae","type":"mqtt-broker","z":"","name":"MQTT-localhost","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"e4cc180c.e22528","type":"ui_group","z":"","name":"1-line 24h on/off chart","tab":"26567699.af4cba","disp":true,"width":"6","collapse":false},{"id":"26567699.af4cba","type":"ui_tab","z":"","name":"Home","icon":"dashboard"},{"id":"faa404cf.51c898","type":"ui_group","z":"","name":"Default","tab":"a99ae12b.9432e","disp":true,"width":"6"},{"id":"a99ae12b.9432e","type":"ui_tab","z":"","name":"Home","icon":"dashboard"},{"id":"13f378c3.149687","type":"ui_group","z":"","name":"Group 1","tab":"a80916b8.fd5778","order":1,"disp":true,"width":"9","collapse":false},{"id":"a80916b8.fd5778","type":"ui_tab","z":"","name":"Master Control prototype","icon":"dashboard","order":39,"disabled":false,"hidden":false},{"id":"a556504d.417f6","type":"pushbullet-config","z":"","name":"main"},{"id":"8c00412c.036b5","type":"pushbullet-config","z":"","name":"main"},{"id":"d837e845.a0bc08","type":"darksky-credentials","z":"","key_identifier":"pogoda"},{"id":"bb198d2d.45c49","type":"telegram bot","z":"edd42ef7.16d9c","botname":"HeinzBot"},{"id":"ab7e128b.884e3","type":"telegram bot","z":"edd42ef7.16d9c","botname":"HeinzBot","usernames":"","chatids":""},{"id":"a71c3d00.520a9","type":"tcp in","z":"8abcb9c4.969e58","name":"listen5555","server":"server","host":"","port":"5555","datamode":"stream","datatype":"buffer","newline":"","topic":"listen5555","base64":false,"x":116,"y":103,"wires":[["b0fd09bb.a35178","cebe805.57b888"]]},{"id":"cebe805.57b888","type":"debug","z":"8abcb9c4.969e58","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":321,"y":92,"wires":[]},{"id":"c29416ea.c14a28","type":"tcp out","z":"8abcb9c4.969e58","host":"127.0.0.1","port":"5555","beserver":"client","base64":false,"end":true,"name":"5555","x":428,"y":167,"wires":[]},{"id":"b0fd09bb.a35178","type":"function","z":"8abcb9c4.969e58","name":"","func":"msg.payload = 255;\n// Return the message so it can be sent on\nreturn msg;","outputs":1,"noerr":0,"x":280,"y":143,"wires":[["c29416ea.c14a28"]]},{"id":"8488390.6f21cc8","type":"inject","z":"18e0d651.2db41a","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":154,"y":238,"wires":[["e81acc84.231b","4a850f56.63db8"]]},{"id":"e81acc84.231b","type":"ui_template","z":"18e0d651.2db41a","group":"6da4d19d.40ede","name":"Dynamic img src request","order":1,"width":"6","height":"4","format":"<script> \nvar xhr = new XMLHttpRequest();\n\n// 2. Конфигурируем его: GET-запрос на URL 'phones.json'\nxhr.open('POST', 'http://demo5.traccar.org/api/session?token=7iHFLJysPzhqj5jt5FVXRTWYlvE0JKn9', false);\n\n// 3. Отсылаем запрос\nxhr.send();\n\n// 4. Если код ответа сервера не 200, то это ошибка\n  // вывести результат\nmsg.payload = xhr.responseText;\nreturn msg// responseText -- текст ответа.\n\n</script>\n","storeOutMessages":false,"fwdInMessages":false,"templateScope":"local","x":464,"y":358,"wires":[["d96efaf8.0961f8"]]},{"id":"4a850f56.63db8","type":"function","z":"18e0d651.2db41a","name":"POST request","func":"// 1. Создаём новый объект XMLHttpRequest\n//var XMLHttpRequest = require(\"xmlhttprequest\").XMLHttpRequest;\n//include(\"XMLHttpRequest.js\"); \n//var xhr = new XMLHttpRequest();\nvar xhr = new XMLHttpRequest();\n\n// 2. Конфигурируем его: GET-запрос на URL 'phones.json'\nxhr.open('POST', 'http://demo5.traccar.org/api/session?token=7iHFLJysPzhqj5jt5FVXRTWYlvE0JKn9', false);\n\n// 3. Отсылаем запрос\nxhr.send();\n\n// 4. Если код ответа сервера не 200, то это ошибка\n\n  // вывести результат\n  msg.payload = xhr.responseText;\n  return msg// responseText -- текст ответа\n","outputs":1,"noerr":0,"x":474,"y":318,"wires":[["d96efaf8.0961f8"]]},{"id":"d96efaf8.0961f8","type":"debug","z":"18e0d651.2db41a","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":704,"y":238,"wires":[]},{"id":"31f3047c.3c6c3c","type":"inject","z":"49f88b4f.625b74","name":"make request","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":"","x":205,"y":264,"wires":[["82b08dee.7b79a"]]},{"id":"82b08dee.7b79a","type":"http request","z":"49f88b4f.625b74","name":"","method":"GET","ret":"txt","paytoqs":false,"url":"https://сатвика.рф","tls":"","proxy":"","x":369.5,"y":264,"wires":[["1fe6e0b9.affd9f"]]},{"id":"c131bee5.23ac2","type":"debug","z":"49f88b4f.625b74","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":810,"y":264,"wires":[]},{"id":"1fe6e0b9.affd9f","type":"html","z":"49f88b4f.625b74","name":"","property":"","outproperty":"","tag":".elementor-post__excerpt","ret":"text","as":"single","x":576.5,"y":264,"wires":[["c131bee5.23ac2"]]},{"id":"cd1b375a.9f0468","type":"http request","z":"acf47a97.8e7978","name":"","method":"GET","ret":"obj","paytoqs":false,"url":"http://demo5.traccar.org/api/session?token=Jo1QgtmiLocCWBJbvCgc4ArEkLN86Lb5","tls":"","proxy":"","authType":"basic","x":400,"y":459,"wires":[["a3b0c07c.6c816"]]},{"id":"ece7cde6.f536","type":"websocket in","z":"8abcb9c4.969e58","name":"wss://echo.websocket.org","server":"","client":"672ff1be.ce75d","x":133,"y":205,"wires":[["9bf8b9b6.660158"]]},{"id":"efb184dc.1a1c88","type":"websocket out","z":"8abcb9c4.969e58","name":"wss://echo.websocket.org","server":"","client":"672ff1be.ce75d","x":471,"y":333,"wires":[]},{"id":"acfffb5f.a667e8","type":"debug","z":"8abcb9c4.969e58","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":523,"y":272,"wires":[]},{"id":"a08e086.23b75f8","type":"inject","z":"8abcb9c4.969e58","name":"","topic":"","payload":"Hello World!","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":143,"y":272,"wires":[["efb184dc.1a1c88"]]},{"id":"9bf8b9b6.660158","type":"function","z":"8abcb9c4.969e58","name":"","func":"msg.payload = \"My Answer: '\" + msg.payload;\n// Return the message so it can be sent on\nreturn msg;","outputs":1,"noerr":0,"x":352,"y":247,"wires":[["acfffb5f.a667e8"]]},{"id":"fc49d80f.935c88","type":"debug","z":"8abcb9c4.969e58","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":346,"y":436,"wires":[]},{"id":"776980b3.a9ff2","type":"inject","z":"8abcb9c4.969e58","name":"","topic":"","payload":"254","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":117,"y":377,"wires":[["fc49d80f.935c88"]]},{"id":"21b5b35c.ef055c","type":"debug","z":"8abcb9c4.969e58","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":861,"y":512,"wires":[]},{"id":"23b34802.d201f8","type":"http in","z":"8abcb9c4.969e58","name":"","url":"/hello","method":"get","upload":false,"swaggerDoc":"","x":407,"y":615,"wires":[["b448af0a.cc778"]]},{"id":"b448af0a.cc778","type":"template","z":"8abcb9c4.969e58","name":"page","field":"payload","fieldType":"msg","format":"html","syntax":"mustache","template":"<html>100</html>","x":629,"y":546,"wires":[["2264b56c.1bceaa","21b5b35c.ef055c"]]},{"id":"2264b56c.1bceaa","type":"http response","z":"8abcb9c4.969e58","name":"","statusCode":"","headers":{},"x":846,"y":362,"wires":[]},{"id":"d8ea3270.44c73","type":"samsung-tv-send","z":"b4dd18b0.7a5358","device":"32def38f.02e0cc","name":"Vol+","key":"KEY_VOLUP","x":510,"y":301,"wires":[]},{"id":"12213a1e.373a36","type":"samsung-tv-send","z":"b4dd18b0.7a5358","device":"32def38f.02e0cc","name":"Vol-","key":"KEY_VOLDOWN","x":511,"y":357,"wires":[]},{"id":"fc7b2cc9.b491d","type":"inject","z":"b4dd18b0.7a5358","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":300,"y":301,"wires":[["d8ea3270.44c73"]]},{"id":"cc3a229b.96858","type":"inject","z":"b4dd18b0.7a5358","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":296,"y":358,"wires":[["12213a1e.373a36"]]},{"id":"15c2a5c5.0c904a","type":"samsung-tv-send","z":"b4dd18b0.7a5358","device":"32def38f.02e0cc","name":"Канал+","key":"KEY_CHUP","x":524,"y":428,"wires":[]},{"id":"97870158.c5d3b","type":"samsung-tv-send","z":"b4dd18b0.7a5358","device":"32def38f.02e0cc","name":"Канал-","key":"KEY_CHDOWN","x":527,"y":499,"wires":[]},{"id":"be8675ab.31b9f8","type":"inject","z":"b4dd18b0.7a5358","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":299,"y":511,"wires":[["97870158.c5d3b"]]},{"id":"ba9c40ba.d95c2","type":"inject","z":"b4dd18b0.7a5358","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":278,"y":424,"wires":[["15c2a5c5.0c904a"]]},{"id":"1620f66a.26e67a","type":"samsung-tv-send","z":"b4dd18b0.7a5358","device":"32def38f.02e0cc","name":"OFF","key":"KEY_POWEROFF","x":514,"y":578,"wires":[]},{"id":"b7d50b6c.29ae18","type":"samsung-tv-send","z":"b4dd18b0.7a5358","device":"32def38f.02e0cc","name":"ON","key":"KEY_POWERON","x":504,"y":238,"wires":[]},{"id":"b442be29.60c15","type":"inject","z":"b4dd18b0.7a5358","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":269,"y":159,"wires":[["c5112ac0.b8d8b8"]]},{"id":"c7e1793a.9a3b18","type":"inject","z":"b4dd18b0.7a5358","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":267,"y":584,"wires":[["1620f66a.26e67a"]]},{"id":"c5112ac0.b8d8b8","type":"wake on lan","z":"b4dd18b0.7a5358","mac":"78:AB:BB:FF:7D:4B","host":"192.168.1.124","name":"SamsungTV","x":508,"y":163,"wires":[]},{"id":"bc008ba7.cbce38","type":"inject","z":"b4dd18b0.7a5358","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":259,"y":236,"wires":[["b7d50b6c.29ae18"]]},{"id":"34d855b4.f0161a","type":"http response","z":"740b003f.0a2b","name":"","statusCode":"","headers":{},"x":573,"y":132,"wires":[]},{"id":"861a9e50.81778","type":"template","z":"740b003f.0a2b","name":"page","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<html>\n    <head></head>\n    <body>\n        <h1>Hello {{req.params.name}}!</h1>\n    </body>\n</html>","x":420,"y":137,"wires":[["34d855b4.f0161a","a60054a6.5032b8"]]},{"id":"8e071679.fd0298","type":"http in","z":"740b003f.0a2b","name":"","url":"/rnd","method":"get","upload":false,"swaggerDoc":"","x":218,"y":108,"wires":[["861a9e50.81778","b4c91869.d20a48"]]},{"id":"a60054a6.5032b8","type":"debug","z":"740b003f.0a2b","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":705,"y":251,"wires":[]},{"id":"d9ef4eb.6ed3cb","type":"template","z":"740b003f.0a2b","name":"page","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<html>\n    <head></head>\n    <body>\n        <h1>Hello {{req.query.name}}</h1>\n        <h1>Color {{req.query.color}}</h1>\n    </body>\n</html>","x":454,"y":417,"wires":[["dc78e7bd.d02e48","fdc3e7fc.a0cb68"]]},{"id":"f30419a.bda5be8","type":"http in","z":"740b003f.0a2b","name":"","url":"/hello-query","method":"get","upload":false,"swaggerDoc":"","x":236,"y":414,"wires":[["d9ef4eb.6ed3cb"]]},{"id":"dc78e7bd.d02e48","type":"http response","z":"740b003f.0a2b","name":"","statusCode":"","headers":{},"x":695,"y":417,"wires":[]},{"id":"fdc3e7fc.a0cb68","type":"debug","z":"740b003f.0a2b","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":686,"y":522,"wires":[]},{"id":"b4c91869.d20a48","type":"debug","z":"740b003f.0a2b","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":650,"y":44,"wires":[]},{"id":"4ec5c163.5b939","type":"switch","z":"15c9eaa7.3c0665","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"num"},{"t":"eq","v":"2","vt":"str"},{"t":"eq","v":"3","vt":"str"},{"t":"eq","v":"4","vt":"str"}],"checkall":"true","repair":false,"outputs":4,"x":712,"y":345,"wires":[["ba8839aa.725c28","7a73e685.4b1ed8"],["ba8839aa.725c28","5662ee3a.fcc9d"],["ba8839aa.725c28","1768ecd.5859e13"],["ba8839aa.725c28","a7567be0.dd0ab8"]]},{"id":"8433ce41.da17f","type":"delay","z":"15c9eaa7.3c0665","name":"","pauseType":"delay","timeout":"10","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":414,"y":235,"wires":[["40ae3a88.297854","e5bcabdc.c879c8"]]},{"id":"8fab048b.2b32d8","type":"inject","z":"15c9eaa7.3c0665","name":"start","topic":"","payload":"START","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":124,"y":312,"wires":[["4fac443b.45c78c","e5bcabdc.c879c8"]]},{"id":"ba8839aa.725c28","type":"debug","z":"15c9eaa7.3c0665","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":941,"y":393,"wires":[]},{"id":"40ae3a88.297854","type":"function","z":"15c9eaa7.3c0665","name":"for 1-4","func":"msg.payload = msg.payload + 1\nif (msg.payload == 5) {\n    msg.payload = 1\n}\nreturn msg;","outputs":1,"noerr":0,"x":406,"y":94,"wires":[["1b4a6897.97d7d7","8433ce41.da17f"]]},{"id":"12d39206.2c9e5e","type":"debug","z":"15c9eaa7.3c0665","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":1030,"y":89,"wires":[]},{"id":"7a73e685.4b1ed8","type":"http request","z":"15c9eaa7.3c0665","name":"green","method":"GET","ret":"txt","paytoqs":false,"url":"http://192.168.1.127/green","tls":"","proxy":"","authType":"basic","x":777,"y":80,"wires":[[]]},{"id":"3138bb74.040714","type":"html","z":"15c9eaa7.3c0665","name":"","property":"","outproperty":"","tag":"html","ret":"text","as":"single","x":953,"y":231,"wires":[["12d39206.2c9e5e"]]},{"id":"5662ee3a.fcc9d","type":"http request","z":"15c9eaa7.3c0665","name":"red","method":"GET","ret":"txt","paytoqs":false,"url":"http://192.168.1.127/ON","tls":"","proxy":"","authType":"basic","x":778,"y":126,"wires":[[]]},{"id":"1768ecd.5859e13","type":"http request","z":"15c9eaa7.3c0665","name":"blue","method":"GET","ret":"txt","paytoqs":false,"url":"http://192.168.1.127/blue","tls":"","proxy":"","authType":"basic","x":776,"y":174,"wires":[[]]},{"id":"a7567be0.dd0ab8","type":"http request","z":"15c9eaa7.3c0665","name":"rnd","method":"GET","ret":"txt","paytoqs":false,"url":"http://192.168.1.127/rnd","tls":"","proxy":"","authType":"basic","x":782,"y":220,"wires":[["3138bb74.040714"]]},{"id":"c4b503a1.b163a","type":"inject","z":"15c9eaa7.3c0665","name":"stop","topic":"","payload":"STOP","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":121,"y":406,"wires":[["e5bcabdc.c879c8"]]},{"id":"4fac443b.45c78c","type":"function","z":"15c9eaa7.3c0665","name":"set 0","func":"msg.payload = 0\nreturn msg;","outputs":1,"noerr":0,"x":173,"y":22,"wires":[["40ae3a88.297854","1b4a6897.97d7d7"]]},{"id":"1b4a6897.97d7d7","type":"debug","z":"15c9eaa7.3c0665","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":634,"y":20,"wires":[]},{"id":"227bdd8.520df22","type":"debug","z":"15c9eaa7.3c0665","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":795,"y":617,"wires":[]},{"id":"e5bcabdc.c879c8","type":"traffic","z":"15c9eaa7.3c0665","name":"","property_allow":"payload","filter_allow":"START","ignore_case_allow":false,"negate_allow":false,"send_allow":false,"property_stop":"payload","filter_stop":"STOP","ignore_case_stop":false,"negate_stop":false,"send_stop":false,"default_start":false,"differ":false,"x":504,"y":347,"wires":[["227bdd8.520df22","4ec5c163.5b939","d0d52611.e8cb08"]]},{"id":"74bb04bb.111b0c","type":"function","z":"15c9eaa7.3c0665","name":"> 45?","func":"newmsg = Object();\nif (msg.payload > 0.44) {\n newmsg.payload = \"STOP\";\n} else {\n newmsg.payload = \"Not Yet\";\n}\nreturn newmsg;","outputs":1,"noerr":0,"x":270,"y":641,"wires":[[]]},{"id":"d0d52611.e8cb08","type":"ui_numeric","z":"15c9eaa7.3c0665","name":"","label":"numeric","tooltip":"","group":"8b7266fe.98fd18","order":1,"width":0,"height":0,"passthru":true,"topic":"","format":"{{value}}","min":0,"max":10,"step":1,"x":612,"y":235,"wires":[["4ec5c163.5b939"]]},{"id":"e4389dd9.4e244","type":"ui_button","z":"acf47a97.8e7978","name":"","group":"37c9237b.db7dbc","order":0,"width":0,"height":0,"passthru":false,"label":"Найти","tooltip":"","color":"","bgcolor":"","icon":"fa-male","payload":"","payloadType":"str","topic":"","x":173,"y":282,"wires":[["fead66fe.9f7978"]]},{"id":"fead66fe.9f7978","type":"template","z":"acf47a97.8e7978","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"","x":414,"y":360,"wires":[["804cb336.323e1"]]},{"id":"804cb336.323e1","type":"ui_template","z":"acf47a97.8e7978","group":"37c9237b.db7dbc","name":"","order":1,"width":"20","height":"12","format":"","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":634,"y":360,"wires":[[]]},{"id":"70c90c1c.e103f4","type":"ui_button","z":"acf47a97.8e7978","name":"","group":"37c9237b.db7dbc","order":2,"width":0,"height":0,"passthru":false,"label":"Стереть трек","tooltip":"","color":"","bgcolor":"","icon":"fa-male","payload":"{\"name\":\"HOMTOM\",\"deleted\":true}","payloadType":"json","topic":"","x":454,"y":400,"wires":[["622af3cb.c0503c"]]},{"id":"9ce498d9.25dab8","type":"http request","z":"acf47a97.8e7978","name":"","method":"GET","ret":"obj","paytoqs":false,"url":"http://demo5.traccar.org/api/positions","tls":"","proxy":"","authType":"basic","x":404,"y":256,"wires":[[]]},{"id":"245c3591.bf528a","type":"inject","z":"acf47a97.8e7978","name":"","topic":"","payload":"","payloadType":"date","repeat":"15","crontab":"","once":false,"onceDelay":0.1,"x":164,"y":460,"wires":[["fead66fe.9f7978"]]},{"id":"a3e7b837.1aaa98","type":"function","z":"acf47a97.8e7978","name":"Adaptation","func":"var latitude = msg.payload[0].latitude;\nvar longitude = msg.payload[0].longitude;\nmsg.payload = {\"name\":\"HOMTOM\", \"lat\":latitude, \"lon\":longitude}; \nmsg.payload.layer = \"SensorData\";\nreturn msg;","outputs":1,"noerr":0,"x":613,"y":458,"wires":[["622af3cb.c0503c","550c812a.2e47d","e9748a97.cfac48"]]},{"id":"622af3cb.c0503c","type":"worldmap-tracks","z":"acf47a97.8e7978","name":"","depth":"250","layer":"combined","x":824,"y":420,"wires":[["550c812a.2e47d"]]},{"id":"550c812a.2e47d","type":"worldmap","z":"acf47a97.8e7978","name":"","lat":"","lon":"","zoom":"18","layer":"OSM grey","cluster":"","maxage":"12000","usermenu":"show","layers":"show","panit":"true","panlock":"false","zoomlock":"false","hiderightclick":"false","coords":"deg","path":"/worldmap","x":1014,"y":460,"wires":[]},{"id":"a3b0c07c.6c816","type":"debug","z":"acf47a97.8e7978","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":725,"y":662,"wires":[]},{"id":"e9748a97.cfac48","type":"debug","z":"acf47a97.8e7978","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1007,"y":549,"wires":[]},{"id":"5d2f9620.501298","type":"ui_colour_picker","z":"f4c13dae.1fd7a","name":"","label":"picker","group":"6dbdd2f.236602c","format":"hex","outformat":"string","showSwatch":true,"showPicker":false,"showValue":false,"showHue":false,"showAlpha":false,"showLightness":true,"dynOutput":"false","order":0,"width":0,"height":0,"passthru":true,"topic":"","x":463,"y":191,"wires":[["300b91b7.b8597e"]]},{"id":"300b91b7.b8597e","type":"debug","z":"f4c13dae.1fd7a","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":667,"y":185,"wires":[]},{"id":"14279721.73d9e9","type":"inject","z":"f4c13dae.1fd7a","name":"","topic":"","payload":"1","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":245,"y":329,"wires":[["60930c1.6e743f4"]]},{"id":"7214aa5a.b75504","type":"inject","z":"f4c13dae.1fd7a","name":"","topic":"","payload":"2","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":245,"y":389,"wires":[["60930c1.6e743f4"]]},{"id":"60930c1.6e743f4","type":"join","z":"f4c13dae.1fd7a","name":"","mode":"custom","build":"string","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"2","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":485,"y":349,"wires":[["a1d129ab.f74148"]]},{"id":"a1d129ab.f74148","type":"debug","z":"f4c13dae.1fd7a","name":"","active":true,"tosidebar":false,"console":false,"tostatus":true,"complete":"payload","targetType":"msg","x":695,"y":369,"wires":[]},{"id":"46a14e01.58295","type":"function","z":"f4c13dae.1fd7a","name":"IN ZONE","func":"var msg1 = {};\nvar msg2 = {};\nvar msg3 = {};\nvar msg4 = {};\nif (msg.location.inarea === true) {\n    msg1.payload = 1;\n    msg2.payload = msg.location.isat[0]\n    msg3.payload = msg.location.distances.work\n    msg4.payload = \"Вы находитесь на расстоянии \" + msg.location.distances.work + \"м от работы \"\n} \nelse {\n    msg1.payload = 0;\n    msg2.payload = \"вне зоны\"\n    msg3.payload = msg.location.distances.work\n    msg4.payload = \"Вы находитесь на расстоянии \" + msg.location.distances.work + \"м от работы \" \n}\n//msg.location.distances[msg.location.isat[0]]\nreturn [msg1,msg2,msg3,msg4]","outputs":4,"noerr":0,"x":448,"y":459,"wires":[[],[],[],[]]},{"id":"92b23f72.fef87","type":"mqtt in","z":"740c75b5.a1e69c","name":"zigbee2mqtt","topic":"zigbee2mqtt/#","qos":"2","broker":"299502c0.c3cdae","x":135,"y":119,"wires":[["47b19992.896228","f0015a64.e1e5e8"]]},{"id":"3dda1d0e.bd20c2","type":"inject","z":"740c75b5.a1e69c","name":"MotionHall_OFF","topic":"","payload":"{ \"idx\" : 18, \"nvalue\" : 0}","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":667,"y":320,"wires":[["d58af45.545c508"]]},{"id":"d58af45.545c508","type":"mqtt out","z":"740c75b5.a1e69c","name":"domoticz/in","topic":"domoticz/in","qos":"2","retain":"","broker":"299502c0.c3cdae","x":919,"y":413,"wires":[]},{"id":"49ea9af3.867754","type":"inject","z":"740c75b5.a1e69c","name":"MotionHall_ON","topic":"","payload":"{ \"idx\" : 18, \"nvalue\" : 1}","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":699,"y":233,"wires":[["d58af45.545c508"]]},{"id":"91e991ab.25231","type":"function","z":"740c75b5.a1e69c","name":"GetStatus","func":"if (msg.topic == \"zigbee2mqtt/bridge/state\" && msg.payload == \"offline\") {\n    msg.idx = null;\n    node.status({text: \"zigbee2mqtt state OFFLINE\"});\n    return msg;\n}\n\n// -----------------------------------------------------------------------------\n\nif(msg.DeviceType == \"Button\") {\n    \n    node.status({text: \"Button msg.payload: \" + msg.payload.click});\n    \n    if (msg.payload.click == \"single\") {\n        node.status({text: \"Кнопка: одиночный клик; idx=\" + msg.idx});\n        return {payload:{command: \"switchlight\", idx: msg.idx, switchcmd: \"Set Level\", level:10}};\n    }\n    else if (msg.payload.click == \"double\") {\n        node.status({text: \"Кнопка: двойной клик; idx=\" + msg.idx});\n        return {payload:{command: \"switchlight\", idx: msg.idx, switchcmd: \"Set Level\", level:20}};\n    }\n    else if (msg.payload.click == \"long\") {\n        node.status({text: \"Кнопка: длинный клик; idx=\" + msg.idx});\n        return {payload:{command: \"switchlight\", idx: msg.idx, switchcmd: \"Set Level\", level:30}};\n    }\n    else if (msg.payload.click == \"long_release\") {\n        node.status({text: \"Кнопка: отпущен длинный клик; idx=\" + msg.idx});\n        return {payload:{command: \"switchlight\", idx: msg.idx, switchcmd: \"Set Level\", level:40}};\n    }\n}\n\n// -----------------------------------------------------------------------------\n\nif(msg.DeviceType == \"Motion\") {\n    \n    isNewValue = false;\n    \n    if (typeof context.occupancy === 'undefined') {\n        context.occupancy = [];\n        context.occupancy[msg.idx] = -1;\n    }\n    \n    if (typeof msg.payload.occupancy !== 'undefined') {\n        if(msg.payload.occupancy) {\n            if (context.occupancy[msg.idx] != 1) {\n                context.occupancy[msg.idx] = 1;\n                isNewValue = true;\n            }\n        }\n        else if(!msg.payload.occupancy) {\n            if (context.occupancy[msg.idx] !== 0) {\n                context.occupancy[msg.idx] = 0;\n                isNewValue = true;\n            }\n        }\n    }\n        \n    if (isNewValue) {\n        node.status({text: \"Наличие движения: \" + context.occupancy[msg.idx] + \"; idx=\" + msg.idx});\n        return {payload:{ idx: msg.idx , nvalue:context.occupancy[msg.idx]}};\n    }\n}\n\n// -----------------------------------------------------------------------------\n\nif(msg.DeviceType == \"Door\") {\n    \n    if(msg.payload.contact) {\n        node.status({text: \"Дверь: открыта; idx=\" + msg.idx});\n        return {payload:{ idx: msg.idx , nvalue:0}};\n    }\n    else {\n        node.status({text: \"Дверь: закрыта; idx=\" + msg.idx});\n        return {payload:{ idx: msg.idx , nvalue:1}};\n    }\n}\n\n// -----------------------------------------------------------------------------\n\nif(msg.DeviceType == \"Temp\") {\n    \n    //isNewValue = false;\n    \n    if (typeof context.temperature === 'undefined') {\n        context.temperature = [];\n        context.temperature[msg.idx] = 0;\n    }\n    \n    if (typeof context.humidity === 'undefined') {\n        context.humidity = [];\n        context.humidity[msg.idx] = 0;\n    }\n    \n    if (typeof msg.payload.temperature !== 'undefined') {\n        context.temperature[msg.idx] = msg.payload.temperature;\n        isNewValue = true;\n    }\n    if (typeof msg.payload.humidity !== 'undefined') {\n        context.humidity[msg.idx] = msg.payload.humidity;\n        isNewValue = true;\n    }\n    \n    if (isNewValue && context.temperature[msg.idx] !== 0 && context.humidity[msg.idx] !== 0) \n    {\n        node.status({text: \"температура: \" + context.temperature[msg.idx] + \"°С, влажность: \" +  context.humidity[msg.idx] + \"%; idx=\" + msg.idx});\n        return {payload:{ idx: msg.idx , nvalue:0, svalue:context.temperature[msg.idx] +\";\"+ context.humidity[msg.idx] +\";1\"}};\n    }\n}\n\n// -----------------------------------------------------------------------------\n\nmsg.idx = null;\nnode.status(\"Сообщение не обработано\");\nreturn msg;","outputs":1,"noerr":0,"x":589,"y":453,"wires":[["9eb67c8d.cb816"]]},{"id":"9eb67c8d.cb816","type":"switch","z":"740c75b5.a1e69c","name":"IsIdxFound","property":"payload.idx","propertyType":"msg","rules":[{"t":"nnull"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":759,"y":453,"wires":[["d58af45.545c508"],["a59cde61.0d2ec"]]},{"id":"b32c5379.34475","type":"switch","z":"740c75b5.a1e69c","name":"","property":"topic","propertyType":"msg","rules":[{"t":"cont","v":"0x00158d0001","vt":"str"},{"t":"cont","v":"0x00158d0002","vt":"str"},{"t":"cont","v":"0x00158d0003","vt":"str"},{"t":"cont","v":"0x00158d0004","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":5,"x":239,"y":433,"wires":[["8b1544b.4e295b8"],["2875b73.317bb48"],["bd31c56e.526cc8"],["86c65e63.66c65"],["f0e84826.16d578"]]},{"id":"8b1544b.4e295b8","type":"change","z":"740c75b5.a1e69c","name":"MotionHall","rules":[{"t":"set","p":"idx","pt":"msg","to":"18","tot":"num"},{"t":"set","p":"DeviceType","pt":"msg","to":"Motion","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":413,"y":285,"wires":[["91e991ab.25231"]]},{"id":"2875b73.317bb48","type":"change","z":"740c75b5.a1e69c","name":"TempHall","rules":[{"t":"set","p":"idx","pt":"msg","to":"21","tot":"num"},{"t":"set","p":"DeviceType","pt":"msg","to":"Temp","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":416,"y":349,"wires":[["91e991ab.25231"]]},{"id":"bd31c56e.526cc8","type":"change","z":"740c75b5.a1e69c","name":"ButtonHall","rules":[{"t":"set","p":"idx","pt":"msg","to":"13","tot":"num"},{"t":"set","p":"DeviceType","pt":"msg","to":"Button","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":408,"y":405,"wires":[["91e991ab.25231"]]},{"id":"7f580d82.5e40c4","type":"json","z":"740c75b5.a1e69c","name":"","property":"payload","action":"","pretty":false,"x":135,"y":346,"wires":[["b32c5379.34475"]]},{"id":"f0015a64.e1e5e8","type":"debug","z":"740c75b5.a1e69c","name":"Input","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":329,"y":75,"wires":[]},{"id":"47b19992.896228","type":"switch","z":"740c75b5.a1e69c","name":"IsJson","property":"payload","propertyType":"msg","rules":[{"t":"cont","v":"{","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":298,"y":168,"wires":[["7f580d82.5e40c4"]]},{"id":"86c65e63.66c65","type":"change","z":"740c75b5.a1e69c","name":"Door","rules":[{"t":"set","p":"idx","pt":"msg","to":"10","tot":"num"},{"t":"set","p":"DeviceType","pt":"msg","to":"Door","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":416,"y":466,"wires":[["91e991ab.25231"]]},{"id":"652db949.4f0e88","type":"inject","z":"740c75b5.a1e69c","name":"","topic":"zigbee2mqtt/0x00158d0006","payload":"{\"battery\":\"100.00\",\"voltage\":3025,\"temperature\":24.22,\"humidity\":42.96}","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":113,"y":209,"wires":[["47b19992.896228"]]},{"id":"f0e84826.16d578","type":"debug","z":"740c75b5.a1e69c","name":"ID not found","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":399,"y":533,"wires":[]},{"id":"a59cde61.0d2ec","type":"debug","z":"740c75b5.a1e69c","name":"GetStatus error","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":929,"y":493,"wires":[]},{"id":"9da0e9ef.e8bfc8","type":"debug","z":"c4829f93.87cba","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":950,"y":260,"wires":[]},{"id":"857d8563.065f38","type":"inject","z":"c4829f93.87cba","name":"start","topic":"","payload":"test1","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":110,"y":180,"wires":[["29c813ed.ce439c"]]},{"id":"79cac4fc.d163ac","type":"inject","z":"c4829f93.87cba","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":280,"y":320,"wires":[["906e8c72.7ee2e"]]},{"id":"19f86868.fc7538","type":"change","z":"c4829f93.87cba","name":"setOn","rules":[{"t":"set","p":"lamp1","pt":"flow","to":"true","tot":"bool"},{"t":"set","p":"lamp2","pt":"flow","to":"Сработало","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":370,"y":120,"wires":[[]]},{"id":"538acebb.7f9e4","type":"function","z":"c4829f93.87cba","name":"","func":"msg.payload = \"сработало\"\nreturn msg;","outputs":1,"noerr":0,"x":770,"y":220,"wires":[["9da0e9ef.e8bfc8"]]},{"id":"906e8c72.7ee2e","type":"switch","z":"c4829f93.87cba","name":"","property":"lamp1","propertyType":"flow","rules":[{"t":"true"},{"t":"false"}],"checkall":"true","repair":false,"outputs":2,"x":550,"y":320,"wires":[["538acebb.7f9e4"],["d7aa192f.056dd8"]]},{"id":"d7aa192f.056dd8","type":"function","z":"c4829f93.87cba","name":"","func":"msg.payload = \"нет\"\nreturn msg;","outputs":1,"noerr":0,"x":770,"y":300,"wires":[["9da0e9ef.e8bfc8"]]},{"id":"4e8860bd.57c8","type":"inject","z":"c4829f93.87cba","name":"","topic":"","payload":"test","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":110,"y":120,"wires":[["19f86868.fc7538"]]},{"id":"29c813ed.ce439c","type":"change","z":"c4829f93.87cba","name":"setOff","rules":[{"t":"set","p":"lamp1","pt":"flow","to":"false","tot":"bool"},{"t":"set","p":"lamp2","pt":"flow","to":"Нет","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":370,"y":180,"wires":[[]]},{"id":"6046281.73eded8","type":"http in","z":"4bc40f.33b24bf","name":"","url":"/myhome","method":"post","upload":false,"swaggerDoc":"","x":100,"y":200,"wires":[["1f73ccbe.ea7183"]]},{"id":"1f73ccbe.ea7183","type":"switch","z":"4bc40f.33b24bf","name":"not ping","property":"payload.request.command","propertyType":"msg","rules":[{"t":"neq","v":"ping","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":300,"y":260,"wires":[["b4e19d69.36618","2c0e30fb.0fb79"]]},{"id":"1fe7f00e.00bd2","type":"debug","z":"4bc40f.33b24bf","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":590,"y":360,"wires":[]},{"id":"b4e19d69.36618","type":"template","z":"4bc40f.33b24bf","name":"page","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"User agent: {{req.headers.user-agent}}","x":410,"y":360,"wires":[["1fe7f00e.00bd2"]]},{"id":"e93f8a84.8a2508","type":"http response","z":"4bc40f.33b24bf","name":"","statusCode":"","headers":{},"x":1970,"y":300,"wires":[]},{"id":"bccb15c2.6d8ed8","type":"debug","z":"4bc40f.33b24bf","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":690,"y":180,"wires":[]},{"id":"fc566d53.495b1","type":"switch","z":"4bc40f.33b24bf","name":"user","property":"payload.session.user_id","propertyType":"msg","rules":[{"t":"eq","v":"myhome.userId[0]","vt":"flow"},{"t":"eq","v":"myhome.userId[1]","vt":"flow"},{"t":"eq","v":"myhome.userId[2]","vt":"flow"},{"t":"else"}],"checkall":"true","repair":false,"outputs":4,"x":710,"y":260,"wires":[["8cf4a925.47afd8"],["8cf4a925.47afd8"],["8cf4a925.47afd8"],["e2c89944.c8baa8","af1b25ef.46fff8"]]},{"id":"e2c89944.c8baa8","type":"template","z":"4bc40f.33b24bf","name":"go away","field":"payload","fieldType":"msg","format":"json","syntax":"mustache","template":"{\n    \"response\": {\n    \"text\": \"{{payload.const.intruderText}}\",\n    \"end_session\": false\n        },\n    \"session\": {\n        \"session_id\": \"{{payload.session.session_id}}\",\n        \"message_id\": 4,\n        \"user_id\": \"{{payload.session.user_id}}\"\n        },\n    \"version\": \"1.0\"\n}","output":"json","x":1500,"y":320,"wires":[["e93f8a84.8a2508"]]},{"id":"8cf4a925.47afd8","type":"switch","z":"4bc40f.33b24bf","name":"entity","property":"payload.request.command","propertyType":"msg","rules":[{"t":"cont","v":"myhome.entities.Lamp","vt":"flow"},{"t":"empty"},{"t":"else"}],"checkall":"true","repair":false,"outputs":3,"x":910,"y":180,"wires":[["aa196ca.308189"],["ac5a7f6d.c079c","456b58e2.4c4e58"],["e95a8079.83a7","1d0b5cad.a83d53"]]},{"id":"aa196ca.308189","type":"switch","z":"4bc40f.33b24bf","name":"turn on/off","property":"payload.request.command","propertyType":"msg","rules":[{"t":"cont","v":"включ","vt":"str"},{"t":"cont","v":"выключ","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":1080,"y":100,"wires":[["3ba11b5b.8fb894","184fa964.1f0a67"],["e0285b1.db5aca8","746a89f5.6faa78"]]},{"id":"df4dfcb2.51b2e","type":"template","z":"4bc40f.33b24bf","name":"turn on","field":"payload","fieldType":"msg","format":"json","syntax":"mustache","template":"{\n    \"response\": {\n    \"text\": \"{{payload.const.turnOnText}}\",\n    \"end_session\": false\n        },\n    \"session\": {\n        \"session_id\": \"{{payload.session.session_id}}\",\n        \"message_id\": 4,\n        \"user_id\": \"{{payload.session.user_id}}\"\n        },\n    \"version\": \"1.0\"\n}","output":"json","x":1720,"y":80,"wires":[["e93f8a84.8a2508"]]},{"id":"e95a8079.83a7","type":"template","z":"4bc40f.33b24bf","name":"not found","field":"payload","fieldType":"msg","format":"json","syntax":"mustache","template":"{\n    \"response\": {\n    \"text\": \"{{payload.const.notFoundText}}\",\n    \"end_session\": false\n        },\n    \"session\": {\n        \"session_id\": \"{{payload.session.session_id}}\",\n        \"message_id\": 4,\n        \"user_id\": \"{{payload.session.user_id}}\"\n        },\n    \"version\": \"1.0\"\n}","output":"json","x":1500,"y":280,"wires":[["e93f8a84.8a2508"]]},{"id":"c1c8c9ef.fd9358","type":"template","z":"4bc40f.33b24bf","name":"turn off","field":"payload","fieldType":"msg","format":"json","syntax":"mustache","template":"{\n    \"response\": {\n    \"text\": \"{{payload.const.turnOffText}}\",\n    \"end_session\": false\n        },\n    \"session\": {\n        \"session_id\": \"{{payload.session.session_id}}\",\n        \"message_id\": 4,\n        \"user_id\": \"{{payload.session.user_id}}\"\n        },\n    \"version\": \"1.0\"\n}","output":"json","x":1710,"y":140,"wires":[["e93f8a84.8a2508"]]},{"id":"db24d1e7.91f34","type":"template","z":"4bc40f.33b24bf","name":"Settings object","field":"payload","fieldType":"msg","format":"json","syntax":"mustache","template":"{\n    \"helloWord\": \"Здравствуйте, дом приветствует вас!\",\n    \"intruderText\": \"Что-то не похож ты на моего хозяина. А ну-ка вон отсюда!\",\n    \"notFoundText\": \"Устройство не найдено!\",\n    \"userId\": [\"00023C4E21BEB515A93DC99824FDE96B59F2A7FD69F40E4BCC645E7D8FB37CFD\",\n               \"95F6936A770A9DD5DC4A1DC3BA63049E7DA4FC1AD90E2DB77DA108B1D8CBF6E5\",\n               \"673E752B3F689338D0DBCCF6425D9187A3CFD4CD072CA4C0639FF80AAEB45AA1\"],\n    \"turnOnText\": \"Включаю\",\n    \"turnOffText\": \"Выключаю\",\n    \"turnOnTooText\": \"Уже включен\",\n    \"turnOffTooText\": \"Уже выключен\",\n    \"entities\": {\n        \"Lamp\": \"свет\"\n    }\n}\n","output":"json","x":440,"y":120,"wires":[["82e181fb.1092f"]]},{"id":"ac5a7f6d.c079c","type":"template","z":"4bc40f.33b24bf","name":"hello word","field":"payload","fieldType":"msg","format":"json","syntax":"mustache","template":"{\n    \"response\": {\n    \"text\": \"{{payload.const.helloWord}}\",\n    \"end_session\": false\n        },\n    \"session\": {\n        \"session_id\": \"{{payload.session.session_id}}\",\n        \"message_id\": 4,\n        \"user_id\": \"{{payload.session.user_id}}\"\n        },\n    \"version\": \"1.0\"\n}","output":"json","x":1510,"y":240,"wires":[["e93f8a84.8a2508"]]},{"id":"d3f27b49.45ea28","type":"inject","z":"4bc40f.33b24bf","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"onceDelay":"10","x":250,"y":120,"wires":[["db24d1e7.91f34","6cf756a.b7da9a8","27d57469.0df47c"]]},{"id":"82e181fb.1092f","type":"function","z":"4bc40f.33b24bf","name":"Settings myhome","func":"flow.set(\"myhome\", msg.payload)","outputs":1,"noerr":0,"x":650,"y":120,"wires":[[]]},{"id":"2c0e30fb.0fb79","type":"function","z":"4bc40f.33b24bf","name":"Settings const","func":"msg.payload.const = flow.get(\"myhome\")\nreturn msg","outputs":1,"noerr":0,"x":500,"y":260,"wires":[["bccb15c2.6d8ed8","fc566d53.495b1"]]},{"id":"7b13a7ac.7d6ff8","type":"comment","z":"4bc40f.33b24bf","name":"Задаем наши статичные параметры (не забываем после изменения нажимать на синюю кнопку timestamp)","info":"","x":460,"y":80,"wires":[]},{"id":"edd75b75.a7f808","type":"debug","z":"4bc40f.33b24bf","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1990,"y":460,"wires":[]},{"id":"3ba11b5b.8fb894","type":"template","z":"4bc40f.33b24bf","name":"Включить","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"Включить","output":"str","x":1500,"y":380,"wires":[["edd75b75.a7f808"]]},{"id":"e0285b1.db5aca8","type":"template","z":"4bc40f.33b24bf","name":"Выключить","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"Выключить","output":"str","x":1510,"y":420,"wires":[["edd75b75.a7f808"]]},{"id":"456b58e2.4c4e58","type":"template","z":"4bc40f.33b24bf","name":"Привет","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"Привет","output":"str","x":1500,"y":460,"wires":[["edd75b75.a7f808"]]},{"id":"1d0b5cad.a83d53","type":"template","z":"4bc40f.33b24bf","name":"не найдено","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"не найдено","output":"str","x":1510,"y":500,"wires":[["edd75b75.a7f808"]]},{"id":"af1b25ef.46fff8","type":"template","z":"4bc40f.33b24bf","name":"Прощай","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"Прощай","output":"str","x":1500,"y":540,"wires":[["edd75b75.a7f808"]]},{"id":"6cf756a.b7da9a8","type":"debug","z":"4bc40f.33b24bf","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":490,"y":200,"wires":[]},{"id":"184fa964.1f0a67","type":"switch","z":"4bc40f.33b24bf","name":"Lamp is on/off","property":"lamp","propertyType":"flow","rules":[{"t":"true"},{"t":"false"}],"checkall":"true","repair":false,"outputs":2,"x":1280,"y":60,"wires":[["b3774d5c.3bc4d"],["9d65f7ac.ee7c48"]]},{"id":"b3774d5c.3bc4d","type":"template","z":"4bc40f.33b24bf","name":"turn on too","field":"payload","fieldType":"msg","format":"json","syntax":"mustache","template":"{\n    \"response\": {\n    \"text\": \"{{payload.const.turnOnTooText}}\",\n    \"end_session\": false\n        },\n    \"session\": {\n        \"session_id\": \"{{payload.session.session_id}}\",\n        \"message_id\": 4,\n        \"user_id\": \"{{payload.session.user_id}}\"\n        },\n    \"version\": \"1.0\"\n}","output":"json","x":1510,"y":40,"wires":[["e93f8a84.8a2508"]]},{"id":"3d6f892d.7101b6","type":"template","z":"4bc40f.33b24bf","name":"turn off too","field":"payload","fieldType":"msg","format":"json","syntax":"mustache","template":"{\n    \"response\": {\n    \"text\": \"{{payload.const.turnOffTooText}}\",\n    \"end_session\": false\n        },\n    \"session\": {\n        \"session_id\": \"{{payload.session.session_id}}\",\n        \"message_id\": 4,\n        \"user_id\": \"{{payload.session.user_id}}\"\n        },\n    \"version\": \"1.0\"\n}","output":"json","x":1510,"y":200,"wires":[["e93f8a84.8a2508"]]},{"id":"746a89f5.6faa78","type":"switch","z":"4bc40f.33b24bf","name":"Lamp is on/off","property":"lamp","propertyType":"flow","rules":[{"t":"true"},{"t":"false"}],"checkall":"true","repair":false,"outputs":2,"x":1280,"y":160,"wires":[["1fd096ae.8b9539"],["3d6f892d.7101b6"]]},{"id":"1fd096ae.8b9539","type":"change","z":"4bc40f.33b24bf","name":"Lamp set Off","rules":[{"t":"set","p":"lamp","pt":"flow","to":"false","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":1510,"y":140,"wires":[["c1c8c9ef.fd9358"]]},{"id":"9d65f7ac.ee7c48","type":"change","z":"4bc40f.33b24bf","name":"Lamp set On","rules":[{"t":"set","p":"lamp","pt":"flow","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":1510,"y":80,"wires":[["df4dfcb2.51b2e"]]},{"id":"22983a5f.867896","type":"debug","z":"4bc40f.33b24bf","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":1490,"y":640,"wires":[]},{"id":"342b2d18.7952f2","type":"inject","z":"4bc40f.33b24bf","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":860,"y":640,"wires":[["c0d2fa61.3bfa68"]]},{"id":"c487c9a4.a523a8","type":"function","z":"4bc40f.33b24bf","name":"","func":"msg.payload = \"сработало\"\nreturn msg;","outputs":1,"noerr":0,"x":1230,"y":660,"wires":[["22983a5f.867896"]]},{"id":"c0d2fa61.3bfa68","type":"switch","z":"4bc40f.33b24bf","name":"","property":"lamp","propertyType":"flow","rules":[{"t":"true"},{"t":"false"}],"checkall":"true","repair":false,"outputs":2,"x":1090,"y":700,"wires":[["c487c9a4.a523a8"],["cbfea12.c8f7a6"]]},{"id":"cbfea12.c8f7a6","type":"function","z":"4bc40f.33b24bf","name":"","func":"msg.payload = \"нет\"\nreturn msg;","outputs":1,"noerr":0,"x":1230,"y":740,"wires":[["22983a5f.867896"]]},{"id":"65472752.ef5af8","type":"change","z":"4bc40f.33b24bf","name":"setOn","rules":[{"t":"set","p":"lamp","pt":"flow","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":1090,"y":560,"wires":[[]]},{"id":"7688be3f.6a067","type":"inject","z":"4bc40f.33b24bf","name":"","topic":"","payload":"test","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":830,"y":560,"wires":[["65472752.ef5af8"]]},{"id":"27d57469.0df47c","type":"change","z":"4bc40f.33b24bf","name":"Lamp setOff","rules":[{"t":"set","p":"lamp","pt":"flow","to":"false","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":490,"y":40,"wires":[[]]},{"id":"1dda1ebb.767ff1","type":"switch","z":"c4829f93.87cba","name":"","property":"lamp2","propertyType":"flow","rules":[{"t":"cont","v":"Сработало","vt":"str"},{"t":"cont","v":"Нет","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":550,"y":240,"wires":[["538acebb.7f9e4"],["d7aa192f.056dd8"]]},{"id":"e812e652.9305e8","type":"inject","z":"c4829f93.87cba","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":280,"y":240,"wires":[["1dda1ebb.767ff1"]]},{"id":"85b56b86.e69e68","type":"http in","z":"c4829f93.87cba","name":"lamp","url":"/lamp","method":"get","upload":false,"swaggerDoc":"","x":190,"y":520,"wires":[["83e8d41.7f89928","488d7b62.f8f134","dfff0986.d679d8"]]},{"id":"844c3fcc.019bf","type":"debug","z":"c4829f93.87cba","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1110,"y":420,"wires":[]},{"id":"69cc421a.5de9dc","type":"inject","z":"c4829f93.87cba","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":360,"y":640,"wires":[["8c58e3a6.b995d"]]},{"id":"b2163995.c61188","type":"debug","z":"c4829f93.87cba","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":980,"y":640,"wires":[]},{"id":"8c58e3a6.b995d","type":"change","z":"c4829f93.87cba","name":"LampON","rules":[{"t":"set","p":"url","pt":"msg","to":"http://192.168.1.71/gpio?st=1&pin=15","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":540,"y":640,"wires":[["6fac80bb.5ebb"]]},{"id":"6fac80bb.5ebb","type":"http request","z":"c4829f93.87cba","name":"","method":"GET","ret":"txt","paytoqs":false,"url":"","tls":"","proxy":"","x":770,"y":640,"wires":[["b2163995.c61188"]]},{"id":"4f654a8a.fbe014","type":"inject","z":"c4829f93.87cba","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":"5","x":360,"y":700,"wires":[["b66e0e9.0fb34f"]]},{"id":"9efe2ed1.f5c1f","type":"function","z":"c4829f93.87cba","name":"ESP_Get to JSON Check and Save","func":"if(typeof(msg.payload) == \"string\" && msg.payload[0] != \"{\"){\n    msg.payload = \"{\\\"\" + msg.payload + \"\\\"}\"; \n    return [msg, null];\n    \n}\nelse if(typeof(msg.payload) == \"object\"){\n    if(msg.payload.userhost == \"dfghbf\"){\n        if(msg.payload.bmet < -40 || msg.payload.bmet > 55){\n            msg.payload.bmet = -555;\n        }\n        if(msg.payload.bmeh < 0 || msg.payload.bmeh > 100){\n            msg.payload.bmeh = -555;\n        }\n        if(msg.payload.bmep < 650 || msg.payload.bmep > 800){\n            msg.payload.bmep = -555;\n        }\n        if(msg.payload.bh < 0 || msg.payload.bh > 36600){\n            msg.payoad.bh = -555;\n        }\n    }\n    msg.payload.time = getTime();\n    return [null, msg];\n}\nelse if(typeof(msg.payload) == \"string\" && msg.payload[0] == \"{\"){\n    context.global.ulica2 = msg.payload;\n}","outputs":2,"noerr":0,"x":440,"y":960,"wires":[["367e4851.813cd8"],["1f97b56f.0f778b"]]},{"id":"367e4851.813cd8","type":"change","z":"c4829f93.87cba","name":"","rules":[{"t":"change","p":"payload","pt":"msg","from":":","fromt":"str","to":"\":\"","tot":"str"},{"t":"change","p":"payload","pt":"msg","from":";","fromt":"str","to":"\",\"","tot":"str"},{"t":"change","p":"payload","pt":"msg","from":",\"\"","fromt":"str","to":"","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":300,"y":840,"wires":[["30d1b633.3fee3a"]]},{"id":"1f97b56f.0f778b","type":"json","z":"c4829f93.87cba","name":"","property":"payload","action":"","pretty":false,"x":450,"y":1100,"wires":[["9efe2ed1.f5c1f"]]},{"id":"30d1b633.3fee3a","type":"json","z":"c4829f93.87cba","name":"","property":"payload","action":"","pretty":false,"x":570,"y":840,"wires":[["9efe2ed1.f5c1f"]]},{"id":"83e8d41.7f89928","type":"function","z":"c4829f93.87cba","name":"get pin15","func":"msg.payload = msg.payload.gpiout15\nreturn msg;","outputs":1,"noerr":0,"x":360,"y":520,"wires":[["1018f0d1.da23af"]]},{"id":"be3c7951.9cc7c8","type":"inject","z":"c4829f93.87cba","name":"make request","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":"","x":310,"y":760,"wires":[["f960974.da17268"]]},{"id":"f960974.da17268","type":"http request","z":"c4829f93.87cba","name":"","method":"GET","ret":"txt","paytoqs":false,"url":"http://192.168.1.71/readjson","tls":"","proxy":"","x":550,"y":760,"wires":[["f7157d58.7db4f"]]},{"id":"8b344075.b19cc","type":"debug","z":"c4829f93.87cba","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":1090,"y":760,"wires":[]},{"id":"4f7e4fe8.221e1","type":"change","z":"c4829f93.87cba","name":"","rules":[{"t":"set","p":"test","pt":"flow","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":710,"y":420,"wires":[["7694abc6.ff4484"]]},{"id":"1018f0d1.da23af","type":"switch","z":"c4829f93.87cba","name":"on - off","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"str"},{"t":"eq","v":"0","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":510,"y":520,"wires":[["4f7e4fe8.221e1"],["574679e2.18cd18"]]},{"id":"574679e2.18cd18","type":"change","z":"c4829f93.87cba","name":"","rules":[{"t":"set","p":"test","pt":"flow","to":"false","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":710,"y":460,"wires":[["7694abc6.ff4484"]]},{"id":"7694abc6.ff4484","type":"change","z":"c4829f93.87cba","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"test","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":920,"y":440,"wires":[["844c3fcc.019bf"]]},{"id":"68a8ec5e.a77bd4","type":"http in","z":"c4829f93.87cba","name":"lamp1","url":"/lamp1","method":"get","upload":false,"swaggerDoc":"","x":190,"y":440,"wires":[["2d6079d8.3f5a96","dfff0986.d679d8","488d7b62.f8f134"]]},{"id":"2d6079d8.3f5a96","type":"switch","z":"c4829f93.87cba","name":"","property":"payload.lamp","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"str"},{"t":"eq","v":"0","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":370,"y":440,"wires":[["4f7e4fe8.221e1"],["574679e2.18cd18"]]},{"id":"b66e0e9.0fb34f","type":"change","z":"c4829f93.87cba","name":"LampOff","rules":[{"t":"set","p":"url","pt":"msg","to":"http://192.168.1.71/gpio?st=0&pin=15","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":540,"y":700,"wires":[["6fac80bb.5ebb"]]},{"id":"43bbe178.9ded1","type":"debug","z":"c4829f93.87cba","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":790,"y":540,"wires":[]},{"id":"62c6bd00.896814","type":"inject","z":"f4c13dae.1fd7a","name":"inject","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":"","x":210,"y":680,"wires":[["89c51e44.8e449"]]},{"id":"89c51e44.8e449","type":"template","z":"f4c13dae.1fd7a","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"one;two;three;four;five","x":340,"y":680,"wires":[["560b217a.bbe1a"]]},{"id":"560b217a.bbe1a","type":"split","z":"f4c13dae.1fd7a","name":"","splt":";","spltType":"str","arraySplt":"1","arraySpltType":"len","stream":false,"addname":"","x":290,"y":740,"wires":[["67c93570.a7023c","719eb1a3.ac0e7"]]},{"id":"67c93570.a7023c","type":"change","z":"f4c13dae.1fd7a","name":"Prepend line number","rules":[{"t":"set","p":"payload","pt":"msg","to":"(parts.index+1) & \": \" & payload","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":480,"y":740,"wires":[["72eb15ef.b67b4c","3f60fdc1.706dc2"]]},{"id":"72eb15ef.b67b4c","type":"join","z":"f4c13dae.1fd7a","name":"","mode":"auto","build":"string","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","timeout":"","count":"","x":650,"y":660,"wires":[["3c3841ad.0b9c9e"]]},{"id":"3c3841ad.0b9c9e","type":"debug","z":"f4c13dae.1fd7a","name":"debug","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":750,"y":740,"wires":[]},{"id":"719eb1a3.ac0e7","type":"debug","z":"f4c13dae.1fd7a","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":560,"y":940,"wires":[]},{"id":"3f60fdc1.706dc2","type":"debug","z":"f4c13dae.1fd7a","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":800,"y":940,"wires":[]},{"id":"f7157d58.7db4f","type":"json","z":"c4829f93.87cba","name":"","property":"payload","action":"","pretty":false,"x":730,"y":760,"wires":[["3e3596a.6dd7b6a"]]},{"id":"3e3596a.6dd7b6a","type":"function","z":"c4829f93.87cba","name":"Pin15 status","func":"var value = msg.payload.gpio[\"15\"];\nmsg.payload = value;\nreturn msg;","outputs":1,"noerr":0,"x":910,"y":760,"wires":[["8b344075.b19cc"]]},{"id":"488d7b62.f8f134","type":"template","z":"c4829f93.87cba","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"This is the payload: {{payload}} !","output":"str","x":400,"y":580,"wires":[["43bbe178.9ded1","469e84cd.43403c"]]},{"id":"469e84cd.43403c","type":"http response","z":"c4829f93.87cba","name":"","statusCode":"","headers":{},"x":700,"y":600,"wires":[]},{"id":"dfff0986.d679d8","type":"debug","z":"c4829f93.87cba","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":400,"y":400,"wires":[]},{"id":"bec9b13d.a859f","type":"inject","z":"af357553.2f0528","name":"","topic":"","payload":"0,36,48,60,72,84,90,120,240,600","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":110,"y":40,"wires":[["cdaad243.66727","f7e2edcc.4197f"]]},{"id":"cdaad243.66727","type":"split","z":"af357553.2f0528","name":"","splt":",","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":270,"y":60,"wires":[["7d0ce3c.862e01c"]]},{"id":"9e4a9f66.be3fe","type":"debug","z":"af357553.2f0528","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":350,"y":620,"wires":[]},{"id":"f2efe5f7.236468","type":"switch","z":"af357553.2f0528","name":"<14","property":"payload","propertyType":"msg","rules":[{"t":"lt","v":"14","vt":"num"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":410,"y":260,"wires":[["4047e4d6.ced48c"],["d1912fa7.3ae3e"]]},{"id":"4047e4d6.ced48c","type":"change","z":"af357553.2f0528","name":"+28","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload + 28","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":230,"y":320,"wires":[["5985cc84.fa7814"]]},{"id":"5985cc84.fa7814","type":"change","z":"af357553.2f0528","name":"*4","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload * 4","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":230,"y":400,"wires":[["35a85221.47118e"]]},{"id":"7d0ce3c.862e01c","type":"change","z":"af357553.2f0528","name":"number","rules":[{"t":"set","p":"payload","pt":"msg","to":"$number(payload)","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":420,"y":100,"wires":[["fa9c9c0.3e0e868"]]},{"id":"fa9c9c0.3e0e868","type":"change","z":"af357553.2f0528","name":"/6","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload / 6","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":410,"y":180,"wires":[["f2efe5f7.236468"]]},{"id":"d1912fa7.3ae3e","type":"change","z":"af357553.2f0528","name":"-8","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload - 8","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":630,"y":320,"wires":[["f7e1050.7b840f8"]]},{"id":"f7e1050.7b840f8","type":"change","z":"af357553.2f0528","name":"*9","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload * 9","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":610,"y":400,"wires":[["35a85221.47118e"]]},{"id":"35a85221.47118e","type":"join","z":"af357553.2f0528","name":"","mode":"auto","build":"string","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":"false","timeout":"","count":"","reduceRight":false,"x":450,"y":500,"wires":[["9e4a9f66.be3fe"]]},{"id":"f7e2edcc.4197f","type":"debug","z":"af357553.2f0528","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":130,"y":120,"wires":[]},{"id":"b694653d.e163d8","type":"inject","z":"af357553.2f0528","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":360,"y":960,"wires":[["a725682f.417928"]]},{"id":"a725682f.417928","type":"function","z":"af357553.2f0528","name":"","func":"var par0 = Object();\npar0 = {items:[{id: 456, \n                owner_id: -123\n                },\n            ]}\nmsg.payload = par0; \nreturn msg;","outputs":1,"noerr":0,"x":580,"y":980,"wires":[["538d97b5.05a7c8","10179250.67ed8e"]]},{"id":"10179250.67ed8e","type":"debug","z":"af357553.2f0528","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":970,"y":980,"wires":[]},{"id":"538d97b5.05a7c8","type":"function","z":"af357553.2f0528","name":"","func":"par0 = msg.payload.items[0].owner_id;\nmsg.payload = par0; \nreturn msg;","outputs":1,"noerr":0,"x":610,"y":1080,"wires":[["66b2215d.777e4"]]},{"id":"66b2215d.777e4","type":"change","z":"af357553.2f0528","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"$abs(payload)\t","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":780,"y":1080,"wires":[["10179250.67ed8e"]]},{"id":"e7f8fa44.75d158","type":"inject","z":"af357553.2f0528","name":"","topic":"","payload":"123","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":350,"y":860,"wires":[["eb744e5.1b14cb"]]},{"id":"eb744e5.1b14cb","type":"function","z":"af357553.2f0528","name":"","func":"msg.payload = JSON.stringify({\"param\": msg.payload});\nreturn msg;","outputs":1,"noerr":0,"x":520,"y":860,"wires":[["7ea45df4.d8df74"]]},{"id":"7ea45df4.d8df74","type":"debug","z":"af357553.2f0528","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":710,"y":860,"wires":[]},{"id":"ece92b0b.4fb168","type":"inject","z":"af357553.2f0528","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":"","x":360,"y":1200,"wires":[["e074632.a155ba"]]},{"id":"e074632.a155ba","type":"delay","z":"af357553.2f0528","name":"","pauseType":"delay","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":580,"y":1200,"wires":[["fd40cb2d.c80c38"]]},{"id":"830f44c4.3fa1c8","type":"status","z":"af357553.2f0528","name":"","scope":["e074632.a155ba","fd40cb2d.c80c38"],"x":360,"y":1280,"wires":[["f376909c.46947","c9fe8a9f.f472d8"]],"info":"# Status"},{"id":"f376909c.46947","type":"function","z":"af357553.2f0528","name":"check status","func":"msg.payload = msg.status\nreturn msg;","outputs":1,"noerr":0,"x":550,"y":1280,"wires":[["6c7bb8f.c2fac48"]]},{"id":"fd40cb2d.c80c38","type":"debug","z":"af357553.2f0528","name":"","active":true,"tosidebar":true,"console":false,"tostatus":true,"complete":"payload","targetType":"msg","x":830,"y":1200,"wires":[]},{"id":"f6ea331f.1e798","type":"debug","z":"af357553.2f0528","name":"","active":true,"tosidebar":true,"console":false,"tostatus":true,"complete":"payload","targetType":"msg","x":790,"y":1360,"wires":[]},{"id":"c9fe8a9f.f472d8","type":"function","z":"af357553.2f0528","name":"check status","func":"if (msg.status.fill === \"blue\")\n{msg.payload = 'delaying'}\nelse\n{msg.payload = 'not delaying'}\nreturn msg;","outputs":1,"noerr":0,"x":550,"y":1360,"wires":[["f6ea331f.1e798"]]},{"id":"6c7bb8f.c2fac48","type":"debug","z":"af357553.2f0528","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":810,"y":1280,"wires":[]},{"id":"a543ec02.13979","type":"inject","z":"af357553.2f0528","name":"","topic":"","payload":"true","payloadType":"bool","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":110,"y":1700,"wires":[["53e0f522.20534c"]]},{"id":"10f265df.d57c8a","type":"inject","z":"af357553.2f0528","name":"","topic":"","payload":"false","payloadType":"bool","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":110,"y":1760,"wires":[["53e0f522.20534c"]]},{"id":"91317c.026f5e88","type":"catch","z":"af357553.2f0528","name":"","scope":["22f5bdb7.ae4af2","e6ab54af.a7ca98"],"uncaught":false,"x":150,"y":1460,"wires":[["8a833ad9.e7d518"]]},{"id":"e6ab54af.a7ca98","type":"function","z":"af357553.2f0528","name":"Throw Error","func":"node.error(\"an example error\", msg);   ","outputs":1,"noerr":0,"x":330,"y":1400,"wires":[[]]},{"id":"8a833ad9.e7d518","type":"debug","z":"af357553.2f0528","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"error","targetType":"msg","x":320,"y":1460,"wires":[]},{"id":"84d5b9d2.76ed68","type":"inject","z":"af357553.2f0528","name":"Trigger error","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":130,"y":1400,"wires":[["e6ab54af.a7ca98"]]},{"id":"53e0f522.20534c","type":"function","z":"af357553.2f0528","name":"setInterval/clearInterval","func":"var timerId = context.get(\"timerId\") || 0;\n\nfunction start() {\n    if (timerId) stop();// clear the timer if it is already running\n    timerId = setInterval(function() {\n        node.warn(\"Attention\");\n        context.set(\"timerId\", timerId);\n}, 2000);}\n\nfunction stop() {\n    node.warn(\"stop\");\n    clearInterval(timerId);\n    context.set(\"timerId\", 0)\n}\n\nif(msg.payload && timerId === 0){start();}\nif(!msg.payload){stop();}\n\n// setTimeout(function() {\n//   stop();\n//   node.warn(\"off\");\n// }, 20000);\n\n","outputs":1,"noerr":0,"x":390,"y":1720,"wires":[[]]},{"id":"cf1c1c1b.3d0b7","type":"function","z":"8ef08a2b.a563a8","name":"Generate","func":"var v;\nvar values = [];\nvar states = [];\nvar hours = [];\nfunction pretty(num){\n    return num < 10 ? \"0\" + num : num;\n}\n\nfor(var i=0; i<24; i++){\n    v = parseFloat(((Math.random()*100)).toFixed(2));\n    values.push(v);\n    states.push(v > 80);\n    hours.push(pretty(i));\n}\n\nmsg.values = values;\nmsg.hours = hours;\nmsg.min = Math.min(...values);\nmsg.max = Math.max(...values);\nmsg.states = states;\nmsg.hour = new Date().getHours();\nmsg.unique = 1;\nmsg.shiftup = Math.floor(msg.max/10);\nreturn msg;","outputs":1,"noerr":0,"x":420,"y":300,"wires":[["273fd283.e40efe"]]},{"id":"a9a65a82.2ee2c8","type":"inject","z":"8ef08a2b.a563a8","name":"","topic":"","payload":"","payloadType":"date","repeat":"4","crontab":"","once":true,"onceDelay":"","x":270,"y":300,"wires":[["cf1c1c1b.3d0b7"]]},{"id":"273fd283.e40efe","type":"ui_template","z":"8ef08a2b.a563a8","group":"e4cc180c.e22528","name":"Chart","order":0,"width":"6","height":"2","format":"<script>\nfunction adjustBar(bar,size,color){\n    $(bar).height(size+\"%\");\n    $(bar).css('background-color', color);\n}\n\n(function(scope) {\n    scope.$watch('msg', function(msg) {\n    if(msg == null){\n        return;\n    }\n    var total = msg.max - msg.min + msg.shiftup;\n    for (var i = 0; i < 24; i++) {\n        var p =  (msg.values[i] - (msg.min - msg.shiftup)) * 100 / total;\n        var green = (msg.hour == i) ? \"chartreuse\" : \"green\";\n        var grey = (msg.hour == i) ?  \"darkgrey\" : \"dimgrey\";\n        var c = (msg.states[i] == true) ? grey : green;\n        var b = \"#bar_\"+msg.unique+i;\n        adjustBar(b,p,c);\n    }\n  })\n})(scope);\n\n</script>\n\n<table layout=\"row\" layout-align=\"space-around center\">\n    <tr>\n        <td class=\"pillar\" ng-repeat=\"obj in msg.values track by $index\">\n            <div id=\"bar_{{msg.unique}}{{$index}}\" class=\"blocks\"></div>\n        </td>\n    </tr>\n    <tr>\n        <td ng-repeat=\"obj in msg.values track by $index\" class=\"stripe\"></td>\n    </tr>\n    <tr>\n        <td class=\"hours\" ng-repeat=\"obj in msg.hours track by $index\">{{obj}}</td>\n    </tr>\n</table>","storeOutMessages":false,"fwdInMessages":false,"templateScope":"local","x":550,"y":300,"wires":[[]]},{"id":"7044714.340c59","type":"ui_template","z":"8ef08a2b.a563a8","group":"e4cc180c.e22528","name":"Style","order":0,"width":0,"height":0,"format":"<style>\n    .pillar {vertical-align:bottom; height:70px;}\n    .stripe {background-color:#121212; height:1px;}\n    .blocks {width:100%; height:0%}\n    .hours {text-align:center; font-size:50%; font-family:\"Arial Narrow\", Arial, sans-serif; }\n</style>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":550,"y":260,"wires":[[]]},{"id":"25a8fcb1.8bdc74","type":"inject","z":"af357553.2f0528","name":"","topic":"","payload":"true","payloadType":"bool","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":650,"y":1700,"wires":[["bf3c43ed.d47ce"]]},{"id":"6c5d472e.40f6a8","type":"inject","z":"af357553.2f0528","name":"","topic":"","payload":"false","payloadType":"bool","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":650,"y":1740,"wires":[["bf3c43ed.d47ce"]]},{"id":"bf3c43ed.d47ce","type":"function","z":"af357553.2f0528","name":"setInterval/clearInterval","func":"var timerId = 0;\n\nfunction start() {\nthis.timerId = setInterval(function() {\n  node.warn(\"Attention\");\n}, 2000);}\n\nfunction stop() {\n    node.warn(\"stop\");\n  clearInterval(this.timerId);}\n\nif(msg.payload && timerId === 0){start();}\nif(!msg.payload){stop();}\n\n// setTimeout(function() {\n//   stop();\n//   node.warn(\"off\");\n// }, 20000);\n\n","outputs":1,"noerr":0,"x":890,"y":1720,"wires":[[]]},{"id":"7746d61b.538218","type":"function","z":"af357553.2f0528","name":"flow keys","func":"// flow.set(\"foo\", \"bar\");\n// //msg.payload = flow.keys();\nmsg.payload = flow.get(flow.keys());\nnode.log(\"Something happened\");\nreturn msg;\n\n\n// var outputMsgs = [];\n// var words =  flow.get(flow.keys());\n// for (var w in words) {\n//     outputMsgs.push({payload:words[w]});\n// }\n// return [ outputMsgs ];","outputs":1,"noerr":0,"x":700,"y":1880,"wires":[["80024546.7b0f18"]]},{"id":"80024546.7b0f18","type":"debug","z":"af357553.2f0528","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":910,"y":1880,"wires":[]},{"id":"bf629b98.5a6088","type":"inject","z":"af357553.2f0528","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":500,"y":1880,"wires":[["7746d61b.538218"]]},{"id":"de7e0aa6.834638","type":"function","z":"af357553.2f0528","name":"count in context","func":"// initialise the counter to 0 if it doesn't exist already\nvar count = context.get('count')||0;\ncount += 1;\n// store the value back\ncontext.set('count',count);\n// make it part of the outgoing msg object\nmsg.count = count;\nreturn msg;","outputs":1,"noerr":0,"x":680,"y":1960,"wires":[["80024546.7b0f18","89eb4fbe.54a3a"]]},{"id":"c1b4709d.c6372","type":"inject","z":"af357553.2f0528","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":500,"y":1960,"wires":[["de7e0aa6.834638"]]},{"id":"44064b20.ffb5e4","type":"function","z":"af357553.2f0528","name":"context keys","func":"context.set(\"foo\", \"bar\");\ncontext.set(\"foo1\", \"bar1\");\nmsg.payload = context.keys();\nreturn msg;","outputs":1,"noerr":0,"x":690,"y":2060,"wires":[["80024546.7b0f18"]]},{"id":"ced6389c.6e5ed8","type":"inject","z":"af357553.2f0528","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":480,"y":2060,"wires":[["44064b20.ffb5e4"]]},{"id":"1e78949b.6e38fb","type":"ui_switch","z":"af357553.2f0528","name":"","label":"switch","tooltip":"","group":"faa404cf.51c898","order":0,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"gate","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":290,"y":2200,"wires":[["2fa2d331.52580c"]]},{"id":"2fa2d331.52580c","type":"function","z":"af357553.2f0528","name":"control","func":"if (msg.topic === \"gate\") {\n    context.pass = (msg.payload) ? true : false;\n    return null;  // exit out early as it's just the control\n}\nif (context.pass) {\n    return msg; // if enabled pass msg\n}\nreturn null; // or drop it","outputs":1,"noerr":0,"x":478,"y":2220,"wires":[["3321fdff.8754d2"]]},{"id":"e3de73a4.247b6","type":"inject","z":"af357553.2f0528","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":"","x":302.5,"y":2262,"wires":[["2fa2d331.52580c"]]},{"id":"3321fdff.8754d2","type":"debug","z":"af357553.2f0528","name":"","active":true,"console":"false","complete":"payload","x":688.5,"y":2221,"wires":[]},{"id":"135ecf52.369b21","type":"debug","z":"954fa096.15be2","name":"Action","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":1030,"y":260,"wires":[]},{"id":"e91f80a4.a6ea4","type":"ui_template","z":"954fa096.15be2","group":"13f378c3.149687","name":"Status","order":3,"width":"2","height":"2","format":"<div ng-bind-html=\"msg.payload\"></div>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":1050,"y":300,"wires":[[]]},{"id":"683c0125.922b9","type":"ui_template","z":"954fa096.15be2","group":"13f378c3.149687","name":"Enable/Disable","order":1,"width":"3","height":"1","format":"<md-button class=\"vibrate filled touched font rounded\" style=\"background-color:#333333\" ng-click=\"send({payload: msg.payload })\"> \n\n<svg  width=\"80px\" height=\"40px\" version=\"1.1\" viewBox=\"0 0 380 160\">\n <g id=\"Button_Long\">\n  \n  <rect fill=\"#333333\" width=\"300\" height=\"100\"/>\n  <g ng-style=\"{fill: (msg.payload || 0) ? 'lime' : 'red'}\">\n    <rect width=\"380\" height=\"160\" rx=\"80\" ry=\"80\"/>\n  </g>\n  <rect fill=\"#333333\" x=\"11\" y=\"10\" width=\"358\" height=\"140\" rx=\"90\" ry=\"90\"/>\n  <g ng-style=\"{fill: (msg.payload || 0) ? 'lime' : 'red'}\">\n      \n    <text x=\"200\" y=\"95\" style=\"text-anchor:middle\"  font-weight=\"bold\" font-size=\"50\" font-family=\"Arial\">{{(msg.payload||0)? \"ENABLED \" : \"DISABLED\"}} </text>\n    </g>\n  </g>\n</svg>\n</md-button>\n","storeOutMessages":false,"fwdInMessages":false,"templateScope":"local","x":150,"y":270,"wires":[["62dc7ff2.5eb4"]]},{"id":"62dc7ff2.5eb4","type":"function","z":"954fa096.15be2","name":"Function","func":"msg.payload =!msg.payload; \nreturn msg;\n","outputs":1,"noerr":0,"x":140,"y":320,"wires":[["683c0125.922b9","a8f7211f.61822","6c863fba.36241"]]},{"id":"fba3030a.4fcb8","type":"inject","z":"954fa096.15be2","name":"","topic":"","payload":"false","payloadType":"bool","repeat":"","crontab":"","once":true,"onceDelay":"2","x":250,"y":200,"wires":[["683c0125.922b9"]]},{"id":"4bf431a5.ca0f8","type":"trigger","z":"954fa096.15be2","op1":"","op2":"false","op1type":"nul","op2type":"bool","duration":"5","extend":false,"units":"s","reset":"","bytopic":"all","name":"","x":120,"y":480,"wires":[["683c0125.922b9"]]},{"id":"6c863fba.36241","type":"switch","z":"954fa096.15be2","name":"","property":"payload","propertyType":"msg","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":130,"y":360,"wires":[["4bf431a5.ca0f8"]]},{"id":"a8f7211f.61822","type":"switch","z":"954fa096.15be2","name":"","property":"payload","propertyType":"msg","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":350,"y":280,"wires":[["cdef5c13.6e51e"]]},{"id":"cdef5c13.6e51e","type":"trigger","z":"954fa096.15be2","op1":"GO","op2":"STOP","op1type":"str","op2type":"str","duration":"3","extend":false,"units":"s","reset":"","bytopic":"all","name":"","x":320,"y":360,"wires":[["139b14ed.f31b9b","95840e98.4ace9"]]},{"id":"139b14ed.f31b9b","type":"change","z":"954fa096.15be2","name":"CTL","rules":[{"t":"set","p":"topic","pt":"msg","to":"CONTROL","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":490,"y":340,"wires":[["1759666f.c0b05a","65d74ced.68a224"]]},{"id":"95840e98.4ace9","type":"switch","z":"954fa096.15be2","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"GO","vt":"str"},{"t":"eq","v":"STOP","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":310,"y":440,"wires":[["4d22ae3c.e74c5"],["c6bcbe81.8112e"]]},{"id":"c6bcbe81.8112e","type":"change","z":"954fa096.15be2","name":"Colour","rules":[{"t":"set","p":"colour","pt":"msg","to":"red","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":490,"y":420,"wires":[["d1ecc8b5.134ed8","24dc6d70.ffaee2"]]},{"id":"4d22ae3c.e74c5","type":"change","z":"954fa096.15be2","name":"Colour","rules":[{"t":"set","p":"colour","pt":"msg","to":"lime","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":490,"y":380,"wires":[["d1ecc8b5.134ed8","24dc6d70.ffaee2"]]},{"id":"d1ecc8b5.134ed8","type":"ui_button","z":"954fa096.15be2","name":"","group":"13f378c3.149687","order":2,"width":"2","height":"1","passthru":false,"label":"OFF","tooltip":"","color":"black","bgcolor":"{{msg.colour}}","icon":"","payload":"DEACTIVATE","payloadType":"str","topic":"RESET","x":630,"y":460,"wires":[["4e91fe4.ae984","1759666f.c0b05a"]]},{"id":"24dc6d70.ffaee2","type":"ui_button","z":"954fa096.15be2","name":"","group":"13f378c3.149687","order":2,"width":"2","height":"1","passthru":false,"label":"ON","tooltip":"","color":"black","bgcolor":"{{msg.colour}}","icon":"","payload":"ACTIVATE","payloadType":"str","topic":"RESET","x":630,"y":560,"wires":[["4e91fe4.ae984","1759666f.c0b05a"]]},{"id":"4e91fe4.ae984","type":"debug","z":"954fa096.15be2","name":"De/Activate","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":950,"y":600,"wires":[]},{"id":"1759666f.c0b05a","type":"function","z":"954fa096.15be2","name":"WIP","func":"//  2019 06 02 15:00\n//  block = 1 - allow.\n//          0 - block.\n//\n//  topics:     CONTROL  GO/!GO   Allow editing of state\n//              SETUP   Messages sent for states of \"off\" and \"on\" condition.\nvar msg1;\nvar msg2;\nvar off_message;        //  Not needed?\nvar on_message;         //  Not needed?\nif (msg.topic == \"CONTROL\")\n{\n    if (msg.payload == \"GO\")\n    {\n        //\n        //  Allow things to pass.\n        //\n        context.set(\"BLOCK\",1);\n        node.status({fill: \"green\",text:\"Not Blocking\"});\n    } else\n    {\n        //\n        //  Don't allow things to pass.\n        //\n        context.set(\"BLOCK\",0);\n        node.status({fill: \"red\",text:\"Blocking\"});\n    }\n}\nif (msg.topic == \"SETUP\")\n{\n    //\n    //  Set up messages for \"on\" and \"off\" conditions to be sent.\n    //\n    //node.warn(\"Setting On/Off messages\");\n    //node.warn(msg.on_message);\n    //node.warn(msg.off_message);\n    context.set(\"ON_MESSAGE\", msg.on_message);\n    context.set(\"OFF_MESSAGE\",msg.off_message);\n    return;\n}\nvar block = context.get(\"BLOCK\") || 0;\nif (block == 1)\n{\n    //\n//    node.warn(\"Passing messages\");\n    if (msg.payload == \"ACTIVATE\")\n    {\n        //\n        //  All good.\n        //\n        //msg = context.get(\"ON_MESSAGE\");\n        msg = {payload: \"ENABLED\"};\n        msg1 = {payload: '<font color = \"lime\" <i class=\"fa fa-bullseye fa-2x\"></i>'};\n        msg2 = {colour:\"red\"};\n        return [msg, msg1,msg2];\n    } else\n    if (msg.payload == \"DEACTIVATE\")\n    {\n        //\n        //  All good\n        //\n        //msg = context.get(\"OFF_MESSAGE\");\n        msg = {payload: \"DISABLED\"};\n        msg1 = {payload: '<font color = \"red\" <i class=\"fa fa-bullseye fa-2x\"></i>'};\n        msg2 = {colour:\"red\"};\n        return [msg, msg1,msg2];\n    }\n}","outputs":3,"noerr":0,"x":810,"y":340,"wires":[["135ecf52.369b21"],["e91f80a4.a6ea4"],["24dc6d70.ffaee2","d1ecc8b5.134ed8","a21f68f1.71c028"]]},{"id":"65d74ced.68a224","type":"debug","z":"954fa096.15be2","name":"Go/Stop","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":620,"y":300,"wires":[]},{"id":"f279b501.fcd3f8","type":"link out","z":"954fa096.15be2","name":"","links":["28ef5f7f.5aeb9"],"x":875,"y":140,"wires":[]},{"id":"28ef5f7f.5aeb9","type":"link in","z":"954fa096.15be2","name":"","links":["f279b501.fcd3f8"],"x":215,"y":100,"wires":[["683c0125.922b9"]]},{"id":"a21f68f1.71c028","type":"change","z":"954fa096.15be2","name":"Colour","rules":[{"t":"set","p":"payload","pt":"msg","to":"false","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":930,"y":520,"wires":[["f279b501.fcd3f8"]]},{"id":"d4116abd.ee1f58","type":"comment","z":"954fa096.15be2","name":"Enable button press","info":"","x":470,"y":190,"wires":[]},{"id":"6d623c37.6aa854","type":"inject","z":"954fa096.15be2","name":"","topic":"","payload":"blah","payloadType":"str","repeat":"","crontab":"","once":true,"onceDelay":"2","x":470,"y":240,"wires":[["c6bcbe81.8112e","c3779af4.45aa18"]]},{"id":"c3779af4.45aa18","type":"change","z":"954fa096.15be2","name":"Setup","rules":[{"t":"set","p":"topic","pt":"msg","to":"SETUP","tot":"str"},{"t":"set","p":"payload","pt":"msg","to":"null","tot":"jsonata"},{"t":"set","p":"on_message","pt":"msg","to":"On Message","tot":"str"},{"t":"set","p":"off_message","pt":"msg","to":"Off Message","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":630,"y":240,"wires":[["1759666f.c0b05a"]]},{"id":"709bab8b.622794","type":"function","z":"af357553.2f0528","name":"","func":"msg.values = \"values\";\nmsg.hours = \"hours\";\nmsg.min = 1;\nmsg.max = 10;\nmsg.states = \"states\";\n//msg.hour = new Date().getHours();\nmsg.unique = 1;\nmsg.shiftup = Math.floor(msg.max/10);\nreturn msg;","outputs":1,"noerr":0,"x":700,"y":2380,"wires":[["a4a79052.d9dd8"]]},{"id":"9b533f96.32969","type":"inject","z":"af357553.2f0528","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":540,"y":2380,"wires":[["709bab8b.622794"]]},{"id":"a4a79052.d9dd8","type":"debug","z":"af357553.2f0528","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":890,"y":2380,"wires":[]},{"id":"891a673e.b4cb18","type":"inject","z":"af357553.2f0528","name":"","topic":"","payload":"5","payloadType":"str","repeat":"","crontab":"","once":false,"x":390,"y":2560,"wires":[["11d2cb8d.8dfd24"]]},{"id":"11d2cb8d.8dfd24","type":"function","z":"af357553.2f0528","name":"BLINK n","func":"var o = false;\nfor (var i=0; i<(msg.payload*2); i++) {\n    node.send( {payload:+(o=!o)} )\n}\n\nreturn null;","outputs":1,"noerr":0,"x":547,"y":2592,"wires":[["80011832.13f0a8"]]},{"id":"80011832.13f0a8","type":"delay","z":"af357553.2f0528","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":678,"y":2541,"wires":[["bcd2ba5a.456f98"]]},{"id":"bcd2ba5a.456f98","type":"debug","z":"af357553.2f0528","name":"","active":true,"console":"false","complete":"false","x":830,"y":2596,"wires":[]},{"id":"89eb4fbe.54a3a","type":"link out","z":"af357553.2f0528","name":"","links":["69be5f4e.fbead"],"x":940,"y":2040,"wires":[]},{"id":"69be5f4e.fbead","type":"link in","z":"8ef08a2b.a563a8","name":"","links":["89eb4fbe.54a3a"],"x":300,"y":440,"wires":[["22d1bc08.46a554"]]},{"id":"22d1bc08.46a554","type":"debug","z":"8ef08a2b.a563a8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":460,"y":440,"wires":[]},{"id":"2807cebd.38be02","type":"catch","z":"af357553.2f0528","name":"","scope":["22f5bdb7.ae4af2"],"uncaught":false,"x":150,"y":1520,"wires":[["deac528c.5ea54"]]},{"id":"deac528c.5ea54","type":"debug","z":"af357553.2f0528","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"error.message","targetType":"msg","x":350,"y":1520,"wires":[]},{"id":"273133a4.0e78ac","type":"inject","z":"af357553.2f0528","name":"Trigger error","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":130,"y":1580,"wires":[["22f5bdb7.ae4af2"]]},{"id":"22f5bdb7.ae4af2","type":"http request","z":"af357553.2f0528","name":"","method":"GET","ret":"txt","paytoqs":false,"url":"qqqqqq.gg","tls":"","proxy":"","authType":"basic","x":310,"y":1580,"wires":[[]]},{"id":"5de6fd.f9e9d904","type":"trigger","z":"af357553.2f0528","op1":"","op2":"Датчик","op1type":"nul","op2type":"str","duration":"500","extend":false,"units":"ms","reset":"","bytopic":"all","name":"","x":840,"y":580,"wires":[["2f5cf78e.0ecaa8"]]},{"id":"c0b77985.a306b8","type":"inject","z":"af357553.2f0528","name":"Датчик","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":650,"y":580,"wires":[["5de6fd.f9e9d904"]]},{"id":"2f5cf78e.0ecaa8","type":"debug","z":"af357553.2f0528","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1050,"y":580,"wires":[]},{"id":"8a38e14f.4644e","type":"file in","z":"dfb681c3.814b5","name":"subtit.txt","filename":"C:\\Users\\Домашний\\Documents\\subtitr.txt","format":"utf8","chunk":false,"sendError":false,"encoding":"cp1251","x":320,"y":780,"wires":[["cd00ea53.dd0b18"]]},{"id":"cd00ea53.dd0b18","type":"split","z":"dfb681c3.814b5","name":"","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":470,"y":860,"wires":[["f701d1.49825e3"]]},{"id":"b65249f0.b9ba18","type":"debug","z":"dfb681c3.814b5","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":960,"y":1000,"wires":[]},{"id":"4de02a85.aa8cd4","type":"inject","z":"dfb681c3.814b5","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":320,"y":660,"wires":[["54366116.ddba7"]]},{"id":"c8428cd4.96935","type":"file","z":"dfb681c3.814b5","name":"subtitout.txt","filename":"C:\\Users\\Домашний\\Documents\\subtitoutr.txt","appendNewline":false,"createDir":false,"overwriteFile":"false","encoding":"utf8","x":1000,"y":920,"wires":[["b65249f0.b9ba18"]]},{"id":"f701d1.49825e3","type":"switch","z":"dfb681c3.814b5","name":"","property":"payload","propertyType":"msg","rules":[{"t":"regex","v":"^(\\d{2}:){2}\\d{2}","vt":"str","case":false},{"t":"regex","v":"^\\d{1,4}\\s","vt":"str","case":false},{"t":"regex","v":"^\\s","vt":"str","case":false},{"t":"else"}],"checkall":"true","repair":false,"outputs":4,"x":640,"y":900,"wires":[[],[],[],["d6fa82ea.38e11"]]},{"id":"d6fa82ea.38e11","type":"switch","z":"dfb681c3.814b5","name":"","property":"payload","propertyType":"msg","rules":[{"t":"nempty"}],"checkall":"true","repair":false,"outputs":1,"x":820,"y":920,"wires":[["c8428cd4.96935"]]},{"id":"54366116.ddba7","type":"file in","z":"dfb681c3.814b5","name":"read","filename":"C:\\Users\\Домашний\\Documents\\subtitoutr.txt","format":"utf8","chunk":false,"sendError":true,"encoding":"none","x":150,"y":720,"wires":[["5a840e5a.c6e56"]]},{"id":"5a840e5a.c6e56","type":"switch","z":"dfb681c3.814b5","name":"","property":"payload","propertyType":"msg","rules":[{"t":"nempty"}],"checkall":"true","repair":false,"outputs":1,"x":310,"y":720,"wires":[["d9334084.fba29"]]},{"id":"d9334084.fba29","type":"file","z":"dfb681c3.814b5","name":"del","filename":"C:\\Users\\Домашний\\Documents\\subtitoutr.txt","appendNewline":true,"createDir":false,"overwriteFile":"delete","encoding":"none","x":470,"y":720,"wires":[["8a38e14f.4644e"]]},{"id":"3e470e08.551302","type":"catch","z":"dfb681c3.814b5","name":"","scope":["54366116.ddba7"],"uncaught":false,"x":210,"y":860,"wires":[["8a38e14f.4644e"]]},{"id":"27a1680d.bcffc8","type":"inject","z":"dfb681c3.814b5","name":"URL every 15 min","topic":"Кунгуров","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":"30","x":130,"y":220,"wires":[["623c997f.18c338","73ceb3be.81b2ec","b2ec1e76.7829b"]]},{"id":"3a17cb24.3357e4","type":"nbrowser","z":"dfb681c3.814b5","name":"Кунгуров","methods":[{"name":"gotoURL","func":"goto","params":[{"type":"msg","value":"payload","typeDefault":"str"}]}],"prop":"nbrowser","propout":"site","object":"msg","objectout":"flow","close":true,"show":false,"ssl":true,"outputs":0,"x":420,"y":60,"wires":[]},{"id":"bb60cd4d.f1609","type":"html","z":"dfb681c3.814b5","name":"Select all post","property":"payload","outproperty":"payload","tag":".entry","ret":"attr","as":"multi","x":640,"y":220,"wires":[["377e3ecd.8b5d82"]]},{"id":"ea7fb6d6.276098","type":"change","z":"dfb681c3.814b5","name":"content from site","rules":[{"t":"set","p":"payload","pt":"msg","to":"site","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":650,"y":300,"wires":[["bb60cd4d.f1609"]]},{"id":"377e3ecd.8b5d82","type":"switch","z":"dfb681c3.814b5","name":"first post select","property":"payload","propertyType":"msg","rules":[{"t":"head","v":"1","vt":"num"}],"checkall":"true","repair":false,"outputs":1,"x":640,"y":140,"wires":[["4a91b023.805d7"]]},{"id":"623c997f.18c338","type":"delay","z":"dfb681c3.814b5","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"minutes","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":420,"y":260,"wires":[["ea7fb6d6.276098"]]},{"id":"2ccb4ef3.e6bca2","type":"pushbullet","z":"dfb681c3.814b5","config":"8c00412c.036b5","pushtype":"","title":"Node-Red","chan":"","name":"Node-Red notification","x":980,"y":380,"wires":[]},{"id":"639e1a5b.703724","type":"inject","z":"dfb681c3.814b5","name":"","topic":"","payload":"test pushbullet","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":670,"y":380,"wires":[["2ccb4ef3.e6bca2"]]},{"id":"501d5e52.a16a3","type":"catch","z":"dfb681c3.814b5","name":"site","scope":["377e3ecd.8b5d82","3a17cb24.3357e4"],"uncaught":false,"x":110,"y":60,"wires":[["1bfc3b11.c7a905"]]},{"id":"1bfc3b11.c7a905","type":"delay","z":"dfb681c3.814b5","name":"repit","pauseType":"rate","timeout":"5","timeoutUnits":"minutes","rate":"3","nbRateUnits":"10","rateUnits":"minute","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":90,"y":140,"wires":[["623c997f.18c338","d1e36f7e.011e2"]]},{"id":"fcda7b6e.799d38","type":"inject","z":"dfb681c3.814b5","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":420,"y":340,"wires":[["ea7fb6d6.276098"]]},{"id":"51de216e.9e475","type":"change","z":"dfb681c3.814b5","name":"save post","rules":[{"t":"set","p":"#:(file)::post","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":960,"y":300,"wires":[["2ccb4ef3.e6bca2"]]},{"id":"fcea04a3.df2658","type":"switch","z":"dfb681c3.814b5","name":"compare post","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"#:(file)::post","vt":"flow"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":960,"y":220,"wires":[[],["51de216e.9e475"]]},{"id":"73ceb3be.81b2ec","type":"switch","z":"dfb681c3.814b5","name":"post init","property":"#:(file)::post","propertyType":"flow","rules":[{"t":"nempty"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":200,"y":300,"wires":[[],["989c8a2f.d858e8"]]},{"id":"989c8a2f.d858e8","type":"change","z":"dfb681c3.814b5","name":"","rules":[{"t":"set","p":"#:(file)::post","pt":"flow","to":"\" \"","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":210,"y":380,"wires":[[]]},{"id":"c3686050.b0f03","type":"inject","z":"dfb681c3.814b5","name":"init post","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":190,"y":460,"wires":[["989c8a2f.d858e8"]]},{"id":"4a91b023.805d7","type":"change","z":"dfb681c3.814b5","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.id","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":960,"y":140,"wires":[["fcea04a3.df2658"]]},{"id":"b2ec1e76.7829b","type":"function","z":"dfb681c3.814b5","name":"URL","func":"msg.payload = \"https://kungurov.livejournal.com/\"\nreturn msg;","outputs":1,"noerr":0,"x":450,"y":140,"wires":[["3a17cb24.3357e4"]]},{"id":"d1e36f7e.011e2","type":"delay","z":"dfb681c3.814b5","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"minutes","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":280,"y":140,"wires":[["b2ec1e76.7829b"]]},{"id":"aa2132af.0f515","type":"inject","z":"dfb681c3.814b5","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":680,"y":640,"wires":[["ef5282b9.ef9a"]]},{"id":"199c9f89.602a2","type":"debug","z":"dfb681c3.814b5","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1030,"y":640,"wires":[]},{"id":"ef5282b9.ef9a","type":"function","z":"dfb681c3.814b5","name":"obj to array","func":"const obj = {one: 1, two: 2, three: 3};\nmsg.payload = (Object.entries(obj));    \nreturn msg;","outputs":1,"noerr":0,"x":850,"y":640,"wires":[["199c9f89.602a2"]]},{"id":"4d7cb4a0.89ba6c","type":"function","z":"dfb681c3.814b5","name":"array","func":"const array = [['one', 1], ['two', 2], ['three', 3]];\nmsg.payload = array;\nreturn msg;","outputs":1,"noerr":0,"x":830,"y":520,"wires":[["d085da2d.b16578","ba633e66.a9001"]]},{"id":"d085da2d.b16578","type":"debug","z":"dfb681c3.814b5","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1030,"y":520,"wires":[]},{"id":"e903a22f.4d5f5","type":"inject","z":"dfb681c3.814b5","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":660,"y":520,"wires":[["4d7cb4a0.89ba6c"]]},{"id":"ba633e66.a9001","type":"function","z":"dfb681c3.814b5","name":"array to obj","func":"msg.payload = Object.fromEntries(msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":850,"y":580,"wires":[["e3878a85.672668","ef5282b9.ef9a"]]},{"id":"e3878a85.672668","type":"debug","z":"dfb681c3.814b5","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1030,"y":580,"wires":[]},{"id":"edb3b5ec.748168","type":"debug","z":"dfb681c3.814b5","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":670,"y":1340,"wires":[]},{"id":"741502f4.9cd7dc","type":"darksky","z":"dfb681c3.814b5","darksky":"d837e845.a0bc08","name":"","lon":"50.192255","lat":"53.248253","date":"","time":"","mode":"message","lang":"ru","units":"si","x":500,"y":1340,"wires":[["edb3b5ec.748168","f23ff1a5.b3c4"]]},{"id":"4b76f384.ab4ebc","type":"inject","z":"dfb681c3.814b5","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":320,"y":1340,"wires":[["741502f4.9cd7dc"]]},{"id":"f23ff1a5.b3c4","type":"function","z":"dfb681c3.814b5","name":"sunrise","func":"function getYoutubeLikeToDisplay(millisec) {\n    var seconds = (millisec / 100000).toFixed(0);\n    var minutes = Math.floor(seconds / 60);\n    var hours = \"\";\n    if (minutes > 59) {\n        hours = Math.floor(minutes / 60);\n        hours = (hours >= 10) ? hours : \"0\" + hours;\n        minutes = minutes - (hours * 60);\n        minutes = (minutes >= 10) ? minutes : \"0\" + minutes;\n    }\n\n    seconds = Math.floor(seconds % 60);\n    seconds = (seconds >= 10) ? seconds : \"0\" + seconds;\n    if (hours !== \"\") {\n        return hours + \":\" + minutes + \":\" + seconds;\n    }\n    return minutes + \":\" + seconds;\n}\nvar sunrise = getYoutubeLikeToDisplay(msg.payload.sunrise);\nmsg.payload = sunrise;\nreturn msg;","outputs":1,"noerr":0,"x":590,"y":1500,"wires":[["58872589.cc492c"]]},{"id":"58872589.cc492c","type":"debug","z":"dfb681c3.814b5","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":780,"y":1500,"wires":[]},{"id":"34785986.504006","type":"switch","z":"edd42ef7.16d9c","name":"","property":"payload.type","propertyType":"msg","rules":[{"t":"cont","v":"photo","vt":"str"},{"t":"cont","v":"message","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":3,"x":750,"y":340,"wires":[["1c869274.a9147e"],["cf01f827.f3b908"],["356e11ec.a7aa4e"]]},{"id":"bceb6ff5.1c06c","type":"inject","z":"edd42ef7.16d9c","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":140,"y":220,"wires":[["adabe97a.c40058"]]},{"id":"55de2e6f.e30b6","type":"function","z":"edd42ef7.16d9c","name":"send message","func":"msg.payload = {\n    \"chatId\": 123456789,\n    \"messageId\": 2,\n    \"type\": \"message\",\n    \"content\": \"какой то текст\"\n}\n/* type can be one of the following\nphoto\naudio\nvideo\nsticker\nvoice\ndocument\n*/\n\nreturn msg;","outputs":1,"noerr":0,"x":360,"y":300,"wires":[["fc5e4e8.1756bb","34785986.504006"]]},{"id":"e50214db.b12558","type":"inject","z":"edd42ef7.16d9c","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":140,"y":300,"wires":[["55de2e6f.e30b6"]]},{"id":"1c869274.a9147e","type":"debug","z":"edd42ef7.16d9c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":970,"y":340,"wires":[]},{"id":"cf01f827.f3b908","type":"debug","z":"edd42ef7.16d9c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":970,"y":380,"wires":[]},{"id":"356e11ec.a7aa4e","type":"debug","z":"edd42ef7.16d9c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":970,"y":420,"wires":[]},{"id":"f673944f.608848","type":"function","z":"edd42ef7.16d9c","name":"send audio","func":"msg.payload = {\n    \"chatId\": 123456789,\n    \"messageId\": 3,\n    \"type\": \"audio\",\n    \"content\": \"audio.mp3\"\n}\n/* type can be one of the following\nphoto\naudio\nvideo\nsticker\nvoice\ndocument\n*/\n\nreturn msg;","outputs":1,"noerr":0,"x":370,"y":360,"wires":[["fc5e4e8.1756bb","34785986.504006"]]},{"id":"9182b521.e6f788","type":"inject","z":"edd42ef7.16d9c","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":140,"y":360,"wires":[["f673944f.608848"]]},{"id":"af7a93b2.8f3cf","type":"debug","z":"edd42ef7.16d9c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload.content","targetType":"msg","x":1000,"y":220,"wires":[]},{"id":"c616833f.8e07f","type":"change","z":"edd42ef7.16d9c","name":"content","rules":[{"t":"set","p":"payload","pt":"msg","to":"telega.content","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":720,"y":60,"wires":[["7c298b10.d521b4"]]},{"id":"fc5e4e8.1756bb","type":"function","z":"edd42ef7.16d9c","name":"switch","func":"if (msg.payload.type === 'photo') {\n    return [msg, null, null];\n} else if (msg.payload.type === 'message') {\n    return [null, msg, null];\n} else \nreturn [null, null, msg];","outputs":3,"noerr":0,"x":750,"y":280,"wires":[["af7a93b2.8f3cf"],["6c85708b.09034"],["42d7282.fe5a4d8"]]},{"id":"3cdb72e9.dfa99e","type":"debug","z":"edd42ef7.16d9c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":970,"y":120,"wires":[]},{"id":"6c85708b.09034","type":"debug","z":"edd42ef7.16d9c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload.content","targetType":"msg","x":1000,"y":260,"wires":[]},{"id":"42d7282.fe5a4d8","type":"debug","z":"edd42ef7.16d9c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload.content","targetType":"msg","x":1000,"y":300,"wires":[]},{"id":"337303cf.831c4c","type":"function","z":"edd42ef7.16d9c","name":"add field to flow.obj","func":"var myCount = flow.get(\"telega\");\nmyCount.content = \"New Content\";\nmyCount.newfield = \"new field\";\nflow.set(\"telega\", myCount);\nmsg.payload = flow.get(\"telega\");\nreturn msg;","outputs":1,"noerr":0,"x":710,"y":180,"wires":[["5787d33b.99d25c","3b84bf24.80dc3"]]},{"id":"7c298b10.d521b4","type":"debug","z":"edd42ef7.16d9c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":970,"y":60,"wires":[]},{"id":"5787d33b.99d25c","type":"function","z":"edd42ef7.16d9c","name":"Object assign with flow.obj","func":"var myCount = flow.get(\"telega\");\nconst newObj = Object.create(null);\n//const newObj = new Object({});\nnewObj.newDateField = new Date().toLocaleString('en-US', { timeZone: \"Etc/GMT-4\" });\nObject.assign(myCount, newObj)\nflow.set(\"telega\", myCount);\nmsg.payload = flow.get(\"telega\");\nreturn msg;","outputs":1,"noerr":0,"x":740,"y":120,"wires":[["3cdb72e9.dfa99e"]]},{"id":"3b84bf24.80dc3","type":"debug","z":"edd42ef7.16d9c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":970,"y":180,"wires":[]},{"id":"64ea268f.8a70c8","type":"inject","z":"edd42ef7.16d9c","name":"","topic":"one","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":160,"y":480,"wires":[["48c3b90f.ea6238"]]},{"id":"da80157e.62a308","type":"inject","z":"edd42ef7.16d9c","name":"","topic":"three","payload":"{\"data1\":123,\"data2\":567}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":210,"y":640,"wires":[["8c017dad.64644","ca0bf80e.b6ff58"]]},{"id":"9212e58c.e15658","type":"inject","z":"edd42ef7.16d9c","name":"","topic":"two","payload":"какое то описание","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":180,"y":560,"wires":[["8c017dad.64644"]]},{"id":"8c017dad.64644","type":"function","z":"edd42ef7.16d9c","name":"Set field to flow.obj from msg","func":"var myCount = flow.get(\"telega\");\nmyCount[msg.topic] = msg.payload;\nflow.set(\"telega\", myCount);\nmsg.payload = flow.get(\"telega\");\nreturn msg;","outputs":1,"noerr":0,"x":700,"y":480,"wires":[["b01c5ddf.87c7b"]]},{"id":"b01c5ddf.87c7b","type":"debug","z":"edd42ef7.16d9c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":970,"y":480,"wires":[]},{"id":"48c3b90f.ea6238","type":"function","z":"edd42ef7.16d9c","name":"convert date","func":"const date = new Date();\ndate.setTime(msg.payload);\nmsg.payload = date.toLocaleString('en-US', { timeZone: \"Etc/GMT-4\" });\nreturn msg;","outputs":1,"noerr":0,"x":410,"y":480,"wires":[["8c017dad.64644"]]},{"id":"ca0bf80e.b6ff58","type":"function","z":"edd42ef7.16d9c","name":"obj to array","func":"const obj = msg.payload;\nmsg.payload = Object.entries(obj);    \nreturn msg;","outputs":1,"noerr":0,"x":650,"y":560,"wires":[["b03e4d75.e3174","cf4b69a9.3fd868"]]},{"id":"b03e4d75.e3174","type":"debug","z":"edd42ef7.16d9c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":970,"y":560,"wires":[]},{"id":"cf4b69a9.3fd868","type":"function","z":"edd42ef7.16d9c","name":"new array from data","func":"const msg1 = {payload: msg.payload.map(([,item]) => item)};\nconst msg2 = {payload: msg.payload.map(([key]) => key)};\nreturn [msg1, msg2];","outputs":2,"noerr":0,"x":680,"y":620,"wires":[["5394cc97.9435d4"],["2a68fbc0.8cb0f4"]]},{"id":"5394cc97.9435d4","type":"debug","z":"edd42ef7.16d9c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":970,"y":600,"wires":[]},{"id":"bf6534c2.f7ec88","type":"function","z":"edd42ef7.16d9c","name":"sum*2","func":"const transform = (item) => {\n    return item * 2;\n}\n\nconst obj = msg.payload;\nmsg.payload = [...obj].map(transform).reduce((acc, item) => acc + item, 0);    \nreturn msg;\n\n","outputs":1,"noerr":0,"x":630,"y":720,"wires":[["113dd8b6.6ece87"]]},{"id":"113dd8b6.6ece87","type":"debug","z":"edd42ef7.16d9c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":970,"y":720,"wires":[]},{"id":"429c271e.1ac4b8","type":"inject","z":"edd42ef7.16d9c","name":"","topic":"","payload":"12345","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":130,"y":720,"wires":[["bf6534c2.f7ec88","ce4245b0.419c58"]]},{"id":"adabe97a.c40058","type":"function","z":"edd42ef7.16d9c","name":"create obj (send picture)","func":"msg.payload = {\n    \"chatId\": 123456789,\n    \"messageId\": 1,\n    \"type\": \"photo\",\n    \"content\": \"foo.jpeg\"\n}\n/* type can be one of the following\nphoto\naudio\nvideo\nsticker\nvoice\ndocument\n*/\n\nreturn msg;","outputs":1,"noerr":0,"x":390,"y":220,"wires":[["cde01bd1.a6fbc8","fc5e4e8.1756bb","34785986.504006"]]},{"id":"cde01bd1.a6fbc8","type":"change","z":"edd42ef7.16d9c","name":"set flow.obj","rules":[{"t":"set","p":"telega","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":370,"y":60,"wires":[["c616833f.8e07f","337303cf.831c4c"]]},{"id":"aec4103.c1de6f","type":"function","z":"edd42ef7.16d9c","name":"2 Object create","func":"const newObj1 = Object.create(null);\nconst newObj2 = new Object({});\nnewObj1.newDateField1 = new Date().toLocaleString('en-US', { timeZone: \"Etc/GMT-4\" });\nnewObj2.newDateField2 = new Date().toLocaleString('en-US', { timeZone: \"Etc/GMT-4\" });\nconst msg1 = { payload: newObj1 };\nconst msg2 = { payload: newObj2 };\nreturn [msg1, msg2];","outputs":2,"noerr":0,"x":660,"y":800,"wires":[["442508ba.fe8438"],["1ef19a4f.29dea6"]]},{"id":"f021c256.aff6d","type":"inject","z":"edd42ef7.16d9c","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":140,"y":800,"wires":[["aec4103.c1de6f"]]},{"id":"442508ba.fe8438","type":"debug","z":"edd42ef7.16d9c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":970,"y":760,"wires":[]},{"id":"1ef19a4f.29dea6","type":"debug","z":"edd42ef7.16d9c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":970,"y":800,"wires":[]},{"id":"2a68fbc0.8cb0f4","type":"debug","z":"edd42ef7.16d9c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":970,"y":640,"wires":[]},{"id":"ce4245b0.419c58","type":"function","z":"edd42ef7.16d9c","name":"length","func":"const newMsg = { payload: msg.payload.length };\nreturn [msg, newMsg];","outputs":2,"noerr":0,"x":630,"y":760,"wires":[["442508ba.fe8438"],["1ef19a4f.29dea6"]]},{"id":"143f26cf.e25839","type":"inject","z":"edd42ef7.16d9c","name":"","topic":"","payload":"true","payloadType":"bool","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":390,"y":960,"wires":[["78ebacb3.859124"]]},{"id":"dc50d74.44de328","type":"debug","z":"edd42ef7.16d9c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":970,"y":980,"wires":[]},{"id":"78ebacb3.859124","type":"switch","z":"edd42ef7.16d9c","name":"","property":"payload","propertyType":"msg","rules":[{"t":"true"},{"t":"false"}],"checkall":"true","repair":false,"outputs":2,"x":670,"y":980,"wires":[["dc50d74.44de328"],["dc50d74.44de328"]]},{"id":"6d6b1c1b.9e6644","type":"inject","z":"edd42ef7.16d9c","name":"","topic":"","payload":"false","payloadType":"bool","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":390,"y":1000,"wires":[["78ebacb3.859124"]]},{"id":"877593a5.4d66a","type":"change","z":"edd42ef7.16d9c","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.state","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":700,"y":1160,"wires":[["4529c171.37a21"]]},{"id":"4529c171.37a21","type":"debug","z":"edd42ef7.16d9c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":950,"y":1160,"wires":[]},{"id":"adc363ba.78488","type":"inject","z":"edd42ef7.16d9c","name":"","topic":"","payload":"{\"state\":false}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":590,"y":1220,"wires":[["877593a5.4d66a","4529c171.37a21"]]},{"id":"bd56279f.8b6928","type":"inject","z":"edd42ef7.16d9c","name":"","topic":"","payload":"{\"state\":true}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":590,"y":1100,"wires":[["4529c171.37a21","877593a5.4d66a"]]}]